@charset "utf-8";/*!
 * Bootstrap v4.1.2 (https://getbootstrap.com/)
 * Copyright 2011-2018 The Bootstrap Authors
 * Copyright 2011-2018 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */
:root {
    --blue:#007bff;--indigo:#6610f2;--purple:#6f42c1;--pink:#e83e8c;--red:#dc3545;--orange:#fd7e14;--yellow:#ffc107;--green:#28a745;--teal:#20c997;--cyan:#17a2b8;--white:#fff;--gray:#6c757d;--gray-dark:#343a40;--primary:#007bff;--secondary:#6c757d;--success:#28a745;--info:#17a2b8;--warning:#ffc107;--danger:#dc3545;--light:#f8f9fa;--dark:#343a40;--breakpoint-xs:0;--breakpoint-sm:576px;--breakpoint-md:768px;--breakpoint-lg:992px;--breakpoint-xl:1200px;--font-family-sans-serif:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";--font-family-monospace:SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace}

*,::after,::before {
    box-sizing: border-box
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: transparent
}

@-ms-viewport {
    width: device-width
}

footer,header,section {
    display: block
}

body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff
}

h3 {
    margin-top: 0;
    margin-bottom: .5rem
}

p {
    margin-top: 0;
    margin-bottom: 1rem
}

ul {
    margin-top: 0;
    margin-bottom: 1rem
}

a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects
}

a:hover {
    color: #0056b3;
    text-decoration: underline
}

img {
    vertical-align: middle;
    border-style: none
}

select {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit
}

select {
    text-transform: none
}

::-webkit-file-upload-button {
    font: inherit;
    -webkit-appearance: button
}

h3 {
    margin-bottom: .5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit
}

h3 {
    font-size: 1.75rem
}

.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px
}

.col-12,.col-md-12 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px
}

.col-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%
}

@media (min-width: 768px) {
    .col-md-12 {
        -ms-flex:0 0 100%;
        flex: 0 0 100%;
        max-width: 100%
    }
}

.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out
}

@media screen and (prefers-reduced-motion:reduce) {
    .form-control {
        transition: none
    }
}

.form-control::-ms-expand {
    background-color: transparent;
    border: 0
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(0,123,255,.25)
}

.form-control::-webkit-input-placeholder {
    color: #6c757d;
    opacity: 1
}

.form-control::-moz-placeholder {
    color: #6c757d;
    opacity: 1
}

.form-control:-ms-input-placeholder {
    color: #6c757d;
    opacity: 1
}

.form-control::-ms-input-placeholder {
    color: #6c757d;
    opacity: 1
}

.form-control:disabled {
    background-color: #e9ecef;
    opacity: 1
}

select.form-control:not([size]):not([multiple]) {
    height: calc(2.25rem + 2px)
}

select.form-control:focus::-ms-value {
    color: #495057;
    background-color: #fff
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer
}

.btn:not(:disabled):not(.disabled).active,.btn:not(:disabled):not(.disabled):active {
    background-image: none
}

.btn-primary:not(:disabled):not(.disabled).active,.btn-primary:not(:disabled):not(.disabled):active {
    color: #fff;
    background-color: #0062cc;
    border-color: #005cbf
}

.btn-primary:not(:disabled):not(.disabled).active:focus,.btn-primary:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 0 0 .2rem rgba(0,123,255,.5)
}

.btn-secondary:not(:disabled):not(.disabled).active,.btn-secondary:not(:disabled):not(.disabled):active {
    color: #fff;
    background-color: #545b62;
    border-color: #4e555b
}

.btn-secondary:not(:disabled):not(.disabled).active:focus,.btn-secondary:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 0 0 .2rem rgba(108,117,125,.5)
}

.btn-success:not(:disabled):not(.disabled).active,.btn-success:not(:disabled):not(.disabled):active {
    color: #fff;
    background-color: #1e7e34;
    border-color: #1c7430
}

.btn-success:not(:disabled):not(.disabled).active:focus,.btn-success:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 0 0 .2rem rgba(40,167,69,.5)
}

.btn-info:not(:disabled):not(.disabled).active,.btn-info:not(:disabled):not(.disabled):active {
    color: #fff;
    background-color: #117a8b;
    border-color: #10707f
}

.btn-info:not(:disabled):not(.disabled).active:focus,.btn-info:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 0 0 .2rem rgba(23,162,184,.5)
}

.btn-warning:not(:disabled):not(.disabled).active,.btn-warning:not(:disabled):not(.disabled):active {
    color: #212529;
    background-color: #d39e00;
    border-color: #c69500
}

.btn-warning:not(:disabled):not(.disabled).active:focus,.btn-warning:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 0 0 .2rem rgba(255,193,7,.5)
}

.btn-danger:not(:disabled):not(.disabled).active,.btn-danger:not(:disabled):not(.disabled):active {
    color: #fff;
    background-color: #bd2130;
    border-color: #b21f2d
}

.btn-danger:not(:disabled):not(.disabled).active:focus,.btn-danger:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 0 0 .2rem rgba(220,53,69,.5)
}

.btn-light:not(:disabled):not(.disabled).active,.btn-light:not(:disabled):not(.disabled):active {
    color: #212529;
    background-color: #dae0e5;
    border-color: #d3d9df
}

.btn-light:not(:disabled):not(.disabled).active:focus,.btn-light:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 0 0 .2rem rgba(248,249,250,.5)
}

.btn-dark:not(:disabled):not(.disabled).active,.btn-dark:not(:disabled):not(.disabled):active {
    color: #fff;
    background-color: #1d2124;
    border-color: #171a1d
}

.btn-dark:not(:disabled):not(.disabled).active:focus,.btn-dark:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 0 0 .2rem rgba(52,58,64,.5)
}

.btn-outline-primary:not(:disabled):not(.disabled).active,.btn-outline-primary:not(:disabled):not(.disabled):active {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff
}

.btn-outline-primary:not(:disabled):not(.disabled).active:focus,.btn-outline-primary:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 0 0 .2rem rgba(0,123,255,.5)
}

.btn-outline-secondary:not(:disabled):not(.disabled).active,.btn-outline-secondary:not(:disabled):not(.disabled):active {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d
}

.btn-outline-secondary:not(:disabled):not(.disabled).active:focus,.btn-outline-secondary:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 0 0 .2rem rgba(108,117,125,.5)
}

.btn-outline-success:not(:disabled):not(.disabled).active,.btn-outline-success:not(:disabled):not(.disabled):active {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745
}

.btn-outline-success:not(:disabled):not(.disabled).active:focus,.btn-outline-success:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 0 0 .2rem rgba(40,167,69,.5)
}

.btn-outline-info:not(:disabled):not(.disabled).active,.btn-outline-info:not(:disabled):not(.disabled):active {
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8
}

.btn-outline-info:not(:disabled):not(.disabled).active:focus,.btn-outline-info:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 0 0 .2rem rgba(23,162,184,.5)
}

.btn-outline-warning:not(:disabled):not(.disabled).active,.btn-outline-warning:not(:disabled):not(.disabled):active {
    color: #212529;
    background-color: #ffc107;
    border-color: #ffc107
}

.btn-outline-warning:not(:disabled):not(.disabled).active:focus,.btn-outline-warning:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 0 0 .2rem rgba(255,193,7,.5)
}

.btn-outline-danger:not(:disabled):not(.disabled).active,.btn-outline-danger:not(:disabled):not(.disabled):active {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545
}

.btn-outline-danger:not(:disabled):not(.disabled).active:focus,.btn-outline-danger:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 0 0 .2rem rgba(220,53,69,.5)
}

.btn-outline-light:not(:disabled):not(.disabled).active,.btn-outline-light:not(:disabled):not(.disabled):active {
    color: #212529;
    background-color: #f8f9fa;
    border-color: #f8f9fa
}

.btn-outline-light:not(:disabled):not(.disabled).active:focus,.btn-outline-light:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 0 0 .2rem rgba(248,249,250,.5)
}

.btn-outline-dark:not(:disabled):not(.disabled).active,.btn-outline-dark:not(:disabled):not(.disabled):active {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40
}

.btn-outline-dark:not(:disabled):not(.disabled).active:focus,.btn-outline-dark:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 0 0 .2rem rgba(52,58,64,.5)
}

.navbar-toggler:not(:disabled):not(.disabled) {
    cursor: pointer
}

.page-link:not(:disabled):not(.disabled) {
    cursor: pointer
}

.close:not(:disabled):not(.disabled) {
    cursor: pointer
}

.close:not(:disabled):not(.disabled):focus,.close:not(:disabled):not(.disabled):hover {
    color: #000;
    text-decoration: none;
    opacity: .75
}

@supports ((-webkit-transform-style: preserve-3d) or (transform-style:preserve-3d)) {
}

@supports ((-webkit-transform-style: preserve-3d) or (transform-style:preserve-3d)) {
}

@supports ((-webkit-transform-style: preserve-3d) or (transform-style:preserve-3d)) {
}

@supports ((-webkit-transform-style: preserve-3d) or (transform-style:preserve-3d)) {
}

@media screen and (min-width: 992px) {
    .d-inline-block {
        display:inline-block!important
    }
}

@media screen and (max-width: 991px) {
    .d-inline-block {
        display:inline-block!important;
        width: 100%;
    }
}

.d-flex {
    display: -ms-flexbox!important;
    display: flex!important
}

.justify-content-between {
    -ms-flex-pack: justify!important;
    justify-content: space-between!important
}

.align-items-center {
    -ms-flex-align: center!important;
    align-items: center!important
}

@supports ((position: -webkit-sticky) or (position:sticky)) {
}

.my-0 {
    margin-top: 0!important
}

.mx-0 {
    margin-right: 0!important
}

.mb-0,.my-0 {
    margin-bottom: 0!important
}

.mx-0 {
    margin-left: 0!important
}

.p-0 {
    padding: 0!important
}

.pt-2 {
    padding-top: .5rem!important
}

.pt-3 {
    padding-top: 1rem!important
}

.m-auto {
    margin: auto!important
}

.my-auto {
    margin-top: auto!important
}

.my-auto {
    margin-bottom: auto!important
}

.text-center {
    text-align: center!important
}

@media print {
    *,::after,::before {
        text-shadow: none!important;
        box-shadow: none!important
    }

    a:not(.btn) {
        text-decoration: underline
    }

    img {
        page-break-inside: avoid
    }

    h3,p {
        orphans: 3;
        widows: 3
    }

    h3 {
        page-break-after: avoid
    }

    @page {
        size: a3
    }

    body {
        min-width: 992px!important
    }
}

/*!
 *  Font Awesome 4.7.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
@font-face {
    font-family: FontAwesome;
    src: url(../fonts/fontawesome-webfont.eot?v=4.7.0);
    src: url(../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0) format('embedded-opentype'),url(../fonts/fontawesome-webfont.woff2?v=4.7.0) format('woff2'),url(../fonts/fontawesome-webfont.woff?v=4.7.0) format('woff'),url(../fonts/fontawesome-webfont.ttf?v=4.7.0) format('truetype'),url(../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular) format('svg');
    font-weight: 400;
    font-style: normal;
    font-display:swap;}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.fa-user:before {
    content: "\f007"
}

.fa-arrow-down:before {
    content: "\f063"
}

html {
    height: 100%;
    overflow: visible;
    position: relative;
    width: 100%
}

::-moz-selection {
    background-color: #e41779;
    color: #fff
}

::selection {
    background-color: #e41779;
    color: #fff
}

::-moz-selection {
    background-color: #e41779;
    color: #fff
}

body {
    background-color: #252525;
    font-family: Poppins,sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    overflow: visible;
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative
}

h3 {
    font-family: Vidaloka,serif;
    font-weight: 500;
    word-break: break-word
}

h3 {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 20px;
    margin-top: 53px
}

@media (max-width: 575px) {
    h3 {
        font-size:1.4rem
    }
}

h3:first-child {
    margin-top: 0
}

h3:last-child {
    margin-bottom: 0
}

p {
    margin-bottom: 30px
}

p:last-child,ul:last-child {
    margin-bottom: 0
}

p:last-child:after {
    clear: both;
    content: "";
    display: block
}

@media screen and (min-width: 992px) {
    img {
        height:500px;
        max-width: 100%;
        object-fit: cover
    }
}

@media screen and (max-width: 991px) {
    img {
        height:200px;
        max-width: 100%;
        object-fit: cover
    }
}

a {
    color: #1a1a1a;
    text-decoration: none;
    transition: all .2s ease-in-out 0s
}

a:hover {
    color: #e41779;
    text-decoration: none;
    transition: all .15s linear 0s
}

a:focus,select:focus {
    outline: medium none;
    text-decoration: none
}

a>img {
    transition: all .15s ease-in-out 0s
}

a:hover>img {
    opacity: .8
}

ul {
    padding-left: 1.15rem
}

.form-control,select {
    background-color: #fff;
    border-radius: 5px;
    color: #252525;
    font-family: Vidaloka,serif;
    font-size: 12px;
    height: 60px;
    letter-spacing: 4px;
    padding: 9px 30px;
    width: 100%
}

.form-control:active,.form-control:focus,select:active,select:focus {
    background-color: #fff;
    color: #252525
}

.form-control option,select option {
    background-color: #fff;
    color: #1a1a1a
}

.form-control,.form-control:focus {
    box-shadow: none
}

.form-control:focus {
    background-color: transparent;
    border-color: #bbb
}

.form-control:-moz-placeholder {
    color: #252525;
    font-family: Vidaloka,serif;
    font-size: 12px;
    font-style: normal;
    letter-spacing: 5px;
    opacity: 1;
    text-transform: uppercase
}

.form-control::-moz-placeholder {
    color: #252525;
    font-family: Vidaloka,serif;
    font-size: 12px;
    font-style: normal;
    letter-spacing: 5px;
    opacity: 1;
    text-transform: uppercase
}

.form-control:-ms-input-placeholder {
    color: #252525;
    font-family: Vidaloka,serif;
    font-size: 12px;
    font-style: normal;
    letter-spacing: 5px;
    opacity: 1;
    text-transform: uppercase
}

.form-control::-webkit-input-placeholder {
    color: #252525;
    font-family: Vidaloka,serif;
    font-size: 12px;
    font-style: normal;
    letter-spacing: 5px;
    opacity: 1;
    text-transform: uppercase
}

.form-control:focus:-moz-placeholder {
    color: transparent
}

.form-control:focus::-moz-placeholder {
    color: transparent
}

.form-control:focus:-ms-input-placeholder {
    color: transparent
}

.form-control:focus::-webkit-input-placeholder {
    color: transparent
}

/*! PhotoSwipe Default UI CSS by Dmitry Semenov | photoswipe.com | MIT license */
section {
    position: relative
}

img {
    max-width: 100%
}

.cover-image {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative
}

.cover-image {
    height: 100%;
    width: 100%
}

@media (min-width: 768px) {
    .cover-image {
        background-position:50% 50%;
        bottom: 0;
        display: block;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 2
    }

    .cover-image>img {
        visibility: hidden
    }
}

.animate {
    visibility: hidden
}

.no-js .animate {
    visibility: visible
}

#box_wrapper,#canvas {
    overflow-x: visible;
    overflow-y: hidden;
    position: relative
}

#box_wrapper>div>section {
    clear: both;
    position: relative
}

.ls.ms [class*=btn-outline-]:not(:hover) {
    background-color: #f2f2f2
}

.ds {
    background-color: #1a1a1a;
    color: #e8e8e8
}

.ds a:not(.btn) {
    color: #fff
}

.ds a:not(.btn):hover {
    opacity: .8
}

.ds h3 {
    color: #fff
}

.ds .form-control,.ds select {
    background-color: #fff;
    border: none;
    border-radius: 5px;
    font-family: Vidaloka,serif;
    font-size: 12px;
    letter-spacing: 5px;
    text-transform: uppercase
}

.ds .form-control:focus {
    border-color: #272727
}

.ds .form-control:-moz-placeholder {
    color: #252525;
    opacity: 1
}

.ds .form-control::-moz-placeholder {
    color: #252525;
    opacity: 1
}

.ds .form-control:-ms-input-placeholder {
    color: #252525
}

.ds .form-control::-webkit-input-placeholder {
    color: #252525
}

.ds .form-control:focus:-moz-placeholder {
    color: transparent
}

.ds .form-control:focus::-moz-placeholder {
    color: transparent
}

.ds .form-control:focus:-ms-input-placeholder {
    color: transparent
}

.ds .form-control:focus::-webkit-input-placeholder {
    color: transparent
}

.mt-30 {
    margin-top: 30px
}

.bottom_mask_add {
    position: relative
}

.bottom_mask_add::before {
    background-color: #1a1a1a;
    content: "";
    left: 0;
    margin-top: -2px;
    -webkit-mask: url(../images/mask/mask-bottom-add-alt.png) top left no-repeat;
    -webkit-mask-size: cover!important;
    padding-bottom: 5.208%;
    position: absolute;
    right: 0;
    top: 99.5%;
    z-index: 4
}

.bottom_mask_subtract {
    position: relative
}

.bottom_mask_subtract::after {
    background-color: #1a1a1a;
    bottom: 0;
    content: "";
    left: 0;
    margin-bottom: -2px;
    -webkit-mask: url(../images/mask/mask-top-add-alt.png) top left no-repeat;
    -webkit-mask-size: cover!important;
    padding-bottom: 5.208%;
    position: absolute;
    right: 0;
    z-index: 4
}

.widget {
    position: relative
}

.page_footer .widget {
    margin-bottom: 50px
}

@media (max-width: 1199px) {
    .page_header [class*=col] {
        min-height:0
    }
}

.page_header {
    background-color: #000;
    height: auto;
    left: 0;
    margin: 0;
    padding: 0;
    position: relative;
    right: 0;
    top: 0;
    transition: .5s ease-in-out;
    width: 100%;
    z-index: 1000
}

@media (max-width: 767px) {
    .page_header {
        padding-bottom:5px
    }
}

.page_header.bottom_mask_add::before {
    background-color: #000
}

.page_header a.logo img {
    height: 126px;
    max-height: none;
    transition: all .2s linear 0s
}

@media (max-width: 1400px) {
    .page_header a.logo img {
        height:100px
    }
}

.page_header .row {
    min-height: 60px
}

.page_header a {
    display: inline-block
}

.header_absolute {
    position: relative
}

.header_absolute .page_header {
    left: 0;
    position: absolute;
    right: 0;
    z-index: 1002
}

@media (min-width: 1500px) {
    .page_header .container-fluid {
        padding-left:60px;
        padding-right: 60px
    }
}

a.logo {
    align-items: center;
    display: flex
}

a.logo img {
    display: inline-block;
    max-height: 80px
}

body:after {
    background-color: rgba(0,0,0,.5);
    bottom: 0;
    content: "";
    left: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    visibility: hidden;
    z-index: 1001
}

#canvas,.page_header_side,body,body:after {
    transition: .5s ease-in-out
}

#canvas {
    left: 0;
    transition-property: left,margin-left
}

.page_header_side {
    bottom: 0;
    left: -310px;
    position: fixed;
    top: 0;
    width: 310px;
    z-index: 1002
}

.page_header_side a.logo {
    margin-bottom: 20px;
    padding: 10px 20px
}

.page_header_side a.logo img {
    max-width: 100%
}

.header_absolute .page_header {
    background-color: #000
}

.page_header_side.vertical_menu_header {
    background-color: #000;
    bottom: auto;
    left: 0;
    width: auto;
    z-index: 1002
}

.page_header_side.bottom_mask_add::before {
    background-color: #000
}

.page_header_side .header-phone {
    align-items: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    font-family: Vidaloka,serif;
    font-size: 12px;
    letter-spacing: 4px;
    margin-top: 37px;
    text-transform: uppercase
}

@media (max-width: 1199px) {
    .page_header_side .header-phone {
        margin-top:10px
    }
}

@media (max-width: 992px) {
    .page_header_side .header-phone {
        display:none
    }
}

.page_header_side a.logo {
    margin: 0;
    min-width: 278px;
    padding: 0
}

.page_header_side a.logo img {
    height: 126px;
    max-height: none;
    transition: all .2s linear 0s
}

@media (max-width: 1200px) {
    .page_header_side a.logo img {
        height:80px
    }
}

@media (max-width: 992px) {
    .page_header_side a.logo {
        min-width:200px
    }
}

.page_header_side .container-fluid {
    position: relative;
    transition: all .2s linear 0s;
    z-index: 500
}

.page_header_side .header-soc {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    margin-top: 37px;
    width: 278px
}

.page_header_side .header-soc a {
    font-size: 14px;
    margin-right: 27px
}

.page_header_side .header-soc a:hover {
    color: #e41779
}

@media (max-width: 992px) {
    .page_header_side .header-soc a {
        display:none
    }
}

@media (max-width: 1199px) {
    .page_header_side .header-soc {
        margin-top:10px
    }
}

@media (max-width: 992px) {
    .page_header_side .header-soc {
        margin-bottom:10px;
        margin-top: 34px;
        width: auto
    }
}

@media (min-width: 1600px) {
    .page_header_side.vertical_menu_header:not(.affix) .container-fluid {
        transition:all .2s linear 0s
    }
}

@media (min-width: 1400px) {
    .page_header_side.vertical_menu_header .container-fluid {
        transition:all .2s linear 0s
    }
}

.page_slider {
    clear: both;
    overflow: hidden;
    position: relative
}

.page_slider>img {
    width: 100%
}

@media (max-width: 768px) {
    .page_slider>img {
        display:none
    }
}

.page_slider.bottom_mask_subtract::after {
    z-index: 6
}

@media (max-width: 767px) {
    .page_slider.bottom_mask_subtract::after {
        background-color:#060606;
        z-index: 4
    }
}

@media (max-width: 768px) {
    .page_slider {
        min-height:450px
    }

    .page_slider .intro_layers {
        min-height: 450px
    }
}

.page_slider h3 {
    font-size: 2em;
    line-height: 1;
    margin: 0
}

@media (min-width: 992px) {
    .page_slider h3 {
        font-size:3em
    }
}

.page_slider .intro_layer {
    position: relative
}

.page_slider .intro_layer:first-child {
    margin-top: -160px
}

@media (max-width: 992px) {
    .page_slider .intro_layer:first-child {
        margin-top:0
    }
}

.page_slider .intro_layers_wrapper {
    display: flex
}

.page_slider .intro_after_featured_word {
    font-size: 12px;
    font-weight: 700;
    position: relative;
    text-transform: uppercase
}

.page_slider .intro_layers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 250px 0;
    width: 100%
}

@media (min-width: 300px) {
    .page_slider .container-fluid {
        bottom:0;
        left: 0;
        margin-left: auto;
        margin-right: auto;
        position: absolute;
        right: 0;
        top: 0
    }

    .page_slider [class*=col-] {
        margin-bottom: 0;
        margin-top: 0;
        min-height: 0;
        position: static
    }

    .page_slider .intro_layers_wrapper {
        bottom: 0;
        height: 100%;
        left: 15px;
        position: absolute;
        right: 15px;
        top: 0;
        z-index: 6
    }
}

@media (min-width: 992px) {
    .page_slider .intro_layers_wrapper {
        padding:100px 0
    }

    .page_slider .intro_after_featured_word {
        font-size: 12px;
        letter-spacing: 2em
    }
}

@media (max-width: 991px) {
    .page_slider {
        text-align:center
    }
}

#box_wrapper>div>section {
    overflow: hidden
}

.page_footer {
    background-color: #000;
    overflow: visible
}
