<template>
    <div class="page-wrapper">
        <div class="container-fluid">
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h4 class="text-themecolor">Noticias</h4>
                </div>
                <div class="col-md-7 align-self-center text-right">
                    <div class="d-flex justify-content-end align-items-center">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0)">Inicio</a></li>
                            <li class="breadcrumb-item active">Noticias</li>
                        </ol>
                        <button type="button" v-b-tooltip.hover title="Agregar noticias al sistema" @click="abrirModal('noticia','registrar')" class="btn btn-info d-none d-lg-block m-l-15"><i class="fa fa-plus-circle"></i> Crear Noticia</button>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <div v-show="estadoNoticia" class="form-group row alert alert-success">
                                <div class="text-left">
                                    <li v-for="estado in estados" :key="estado" v-text="estado"></li>
                                </div>
                            </div>
                            <div class="form-group row">
                                <template>
                                    <div class="table-responsive">
                                        <b-container fluid>
                                            <!-- User Interface controls -->
                                            <b-row>
                                            <b-col md="6" class="my-1">
                                                <b-form-group label-cols-sm="3" label="Filtrar" class="mb-0">
                                                <b-input-group>
                                                    <b-form-input v-model="filter" placeholder="Escribe para buscar" />
                                                    <b-input-group-append>
                                                    <b-button :disabled="!filter" @click="filter = ''">Limpiar</b-button>
                                                    </b-input-group-append>
                                                </b-input-group>
                                                </b-form-group>
                                            </b-col>

                                            <b-col md="6" class="my-1">
                                                <b-form-group label-cols-sm="3" label="Ordenar" class="mb-0">
                                                <b-input-group>
                                                    <b-form-select v-model="sortBy" :options="sortOptions">
                                                    <option slot="first" :value="null">-- nada --</option>
                                                    </b-form-select>
                                                    <b-form-select :disabled="!sortBy" v-model="sortDesc" slot="append">
                                                    <option :value="false">Asc</option> <option :value="true">Desc</option>
                                                    </b-form-select>
                                                </b-input-group>
                                                </b-form-group>
                                            </b-col>

                                            <b-col md="6" class="my-1">
                                                <b-form-group label-cols-sm="3" label="Dirección" class="mb-0">
                                                <b-input-group>
                                                    <b-form-select v-model="sortDirection" slot="append">
                                                    <option value="asc">Asc</option> <option value="desc">Desc</option>
                                                    <option value="last">Último</option>
                                                    </b-form-select>
                                                </b-input-group>
                                                </b-form-group>
                                            </b-col>

                                            <b-col md="6" class="my-1">
                                                <b-form-group label-cols-sm="3" label="Por página" class="mb-0">
                                                <b-form-select :options="pageOptions" v-model="perPage" />
                                                </b-form-group>
                                            </b-col>
                                            </b-row>

                                            <!-- Main table element -->
                                            <b-table class="table table-hover table-striped"
                                            show-empty
                                            responsive="md" 
                                            :items="noticias"
                                            :fields="fields"
                                            :current-page="currentPage"
                                            :per-page="perPage"
                                            :filter="filter"
                                            :sort-by.sync="sortBy"
                                            :sort-desc.sync="sortDesc"
                                            :sort-direction="sortDirection"
                                            @filtered="onFiltered"
                                            >
                                            <template slot="acciones" slot-scope="row">
                                                <b-button size="xs" v-b-tooltip.hover title="Editar información de suscursal" @click="abrirModal('noticia','actualizar',row.item)" class="btn btn-warning">
                                                    <i class="icon-pencil"></i>
                                                </b-button>

                                                <b-button size="xs" v-b-tooltip.hover title="Eliminar noticia" @click="eliminarNoticia(row.item.id)"  class="btn btn-danger">
                                                    <i class="icon-trash"></i>
                                                </b-button>
                                            </template>

                                            </b-table>

                                            <b-row>
                                            <b-col md="6" class="my-1">
                                                <b-pagination
                                                :total-rows="totalRows"
                                                :per-page="perPage"
                                                v-model="currentPage"
                                                class="my-0"
                                                />
                                            </b-col>
                                            </b-row>
                                        </b-container>
                                    </div>
                                    
                                </template>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade bs-example-modal-md" :class="{'mostrar' : modal}" style="display: none;" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-md">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myLargeModalLabel" v-text="tituloModal"></h4>
                        <button type="button" class="close" @click="cerrarModal()" aria-hidden="true">×</button>
                    </div>
                    <div class="modal-body">
                        <div class="form-body">
                            <div v-show="errorNoticia" class="form-group row alert alert-danger">
                                <div class="text-left">
                                    <li v-for="error in errores" :key="error" v-text="error"></li>
                                </div>
                            </div>
                            <form class="form m-t-20">
                                <div class="form-group row">
                                    <div class="col-md-12">
                                        <div class="form-group m-b-20">
                                            <label>Título Noticia</label>
                                            <input type="text" class="form-control" v-model="titulo">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-12">
                                        <div class="form-group m-b-20">
                                            <label>Contenido</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-12">
                                        <div class="form-group m-b-20">
                                            <textarea class="form-control" v-model="contenido"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-12">
                                        <div class="form-group m-b-20">
                                            <label>Imagen</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <picture-input v-if="modal" id="img" name="img" v-model="img" margin="10" 
                                                ref="pictureInput"
                                                accept="image/jpeg,image/png,image/jpg,image/gif" 
                                                size="10"
                                                required
                                                :prefill="imgUrl()"
                                                :custom-strings="opciones"
                                                @change="cambiarImagen">
                                        </picture-input>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" @click="cerrarModal()">Cerrar</button>
                        <button type="button" v-if="tipoAccion==1" class="btn btn-primary" @click="registrarNoticia()">Guardar</button>
                        <button type="button" v-if="tipoAccion==2" class="btn btn-primary" @click="actualizarNoticia()">Actualizar</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
    </div>
</template>

<script>
    import BootstrapVue from 'bootstrap-vue'
    import PictureInput from 'vue-picture-input'

    Vue.use(BootstrapVue)

    const items = [
        { isActive: true, age: 40, name: { first: 'Dickerson', last: 'Macdonald' } }
    ]

    export default {
        data (){
            return {
                noticia_id: 0,
                titulo : '',
                contenido : '',
                img: null,
                img_url: null,
                noticias : [],
                modal : 0,
                tituloModal : '',
                tipoAccion : 0,
                estadoNoticia: 0,
                estados : [],
                errorNoticia : 0,
                errores : [],
                items: items,
                fields: [
                    { key: 'id', label: 'NUM', sortable: true, sortDirection: 'desc', class: 'text-center' },
                    { key: 'titulo', label: 'TÍTULO', sortable: true, class: 'text-center' },
                    { key: 'acciones', label: 'ACCIONES', sortable: true, class: 'text-center' },
                ],
                currentPage: 1,
                perPage: 10,
                totalRows: 0,
                pageOptions: [10, 25, 50, 100],
                sortBy: null,
                sortDesc: false,
                sortDirection: 'asc',
                filter: null,
                opciones: {
                    upload: '<p>Su dispositivo no admite la carga de archivos.</p>',
                    drag: 'Toca y selecciona <br> o arrastra',
                    tap: 'Toque aquí para seleccionar una foto <br> desde tu galería',
                    change: 'Cambiar foto',
                    remove: 'Eliminar foto',
                    select: 'Seleccionar foto',
                    selected: '<p>!Foto seleccionada exitosamente!</p>',
                    fileSize: 'El tamaño del archivo supera el límite',
                    fileType: 'Este tipo de archivo no es compatible.',
                    aspect: 'Landscape/Portrait'
                }
            }
        },
        components: {
            PictureInput
        },
        computed:{
            sortOptions() {
                // Create an options list from our fields
                return this.fields
                .filter(f => f.sortable)
                .map(f => {
                    return { text: f.label, value: f.key }
                })
            }
        },
        methods : {
            onFiltered(filteredItems) {
                // Trigger pagination to update the number of buttons/pages due to filtering
                this.totalRows = filteredItems.length
                this.currentPage = 1
            },
            cambiarImagen (image) {              
                if (image) {
                    this.img = image;
                }
            },
            imgUrl() {
                return this.img_url;
            },
            listarNoticias(){
                let me=this;
                var url= '/noticias';
                axios.get(url).then(function (response) {
                    var respuesta= response.data;
                    me.noticias = respuesta.noticias;
                    me.totalRows = me.noticias.length;
                })
                .catch(function (error) {
                    console.log(error.response.data);
                });
            },
            registrarNoticia(){
                if (this.validarNoticia()){
                    return;
                }
                
                let me = this;
                
                const formData = new FormData();
                const imagen = document.querySelector('#img');

                formData.append('imagen', imagen.files[0]);
                formData.append('titulo', this.titulo);
                formData.append('contenido', this.contenido);

                axios.post('/noticia/registrar',formData).then(function (response) {
                    me.cerrarModal();
                    me.listarNoticias();
                    me.statusNoticia(1);
                }).catch(function (error) {
                    console.log(error.response.data);
                });
            },
            actualizarNoticia(){
                this.errores =[];

                if (this.validarNoticia()){
                    return;
                }
                
                let me = this;

                axios.post('/noticia/actualizar',{
                    'titulo': this.titulo,
                    'contenido': this.contenido,
                    'noticia_id': this.noticia_id
                }).then(function (response) {
                    me.cerrarModal();
                    me.listarNoticias();
                    me.statusNoticia(2);
                }).catch(function (error) {
                    console.log(error.response.data);
                }); 
            },
            eliminarNoticia(id){
               swal({
                title: '¿Esta seguro de eliminar esta noticia?',
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Aceptar!',
                cancelButtonText: 'Cancelar',
                confirmButtonClass: 'btn btn-success',
                cancelButtonClass: 'btn btn-danger',
                buttonsStyling: false,
                reverseButtons: true
                }).then((result) => {
                if (result.value) {
                    let me = this;

                    axios.post('/noticia/eliminar',{
                        'id': id
                    }).then(function (response) {
                        me.listarNoticias();
                        swal(
                        'Noticia eliminada!',
                        'El registro ha sido eliminado con éxito.',
                        'success'
                        )
                    }).catch(function (error) {
                        console.log(error.response.data);
                    });
                } else if (
                    result.dismiss === swal.DismissReason.cancel
                ) {
                    
                }
                }) 
            },
            validarNoticia(){
                this.errorNoticia=0;
                this.errores =[];

                if (!this.titulo) this.errores.push("El titulo de la noticia no puede estar vacío.");
                if (!this.contenido) this.errores.push("El contenido de la noticia no puede estar vacío.");
                if (this.errores.length) this.errorNoticia = 1;

                return this.errorNoticia;
            },
            statusNoticia(estado){
                this.estadoNoticia = 0;
                this.estados = [];

                if(estado == 1){
                    this.estados.push('Registro agregado exitosamente');
                } else if(estado == 2){
                    this.estados.push('Registro actualizo exitosamente');
                }

                if (this.estados.length) this.estadoNoticia = 1;

                return this.estadoNoticia;
            },
            cerrarModal(){
                this.modal = 0;
                this.tituloModal = '';
                this.titulo = '';
                this.contenido = '';
                this.tipoAccion = 0;
                this.errorNoticia = 0;
                this.img = null;
                this.img_url = null;
            },
            abrirModal(modelo, accion, data = []){
                switch(modelo){
                    case "noticia":
                    {
                        switch(accion){
                            case 'registrar':
                            { 
                                this.modal = 1;
                                this.tituloModal = 'Registrar Noticia';
                                this.titulo = '';
                                this.contenido = '';
                                this.tipoAccion = 1;
                                break;
                            }
                            case 'actualizar':
                            {
                                this.modal = 1;
                                this.tituloModal = 'Actualizar noticia';
                                this.tipoAccion = 2;
                                this.titulo = data['titulo'];
                                this.contenido = data['contenido'];
                                this.noticia_id = data['id'];

                                if(data['img_url'] != null){
                                    this.img_url = 'storage/' + data['img_url'];
                                    this.cambiarImagen();
                                }
                                
                                break;
                            }
                        }
                    }
                }
            }
        },
        mounted() {
            this.listarNoticias();
        }
    }
</script>

<style>    
    .modal-content{
        width: 100% !important;
        position: absolute !important;
    }
    .mostrar{
        display: list-item !important;
        opacity: 1 !important;
        position: fixed !important;
        background-color: #000000b3 !important;
    }

    .table td{
        padding: 0.30rem;
    }

    .table th{
        padding: 0.50rem;
    }
</style>
