<template>
    <div class="page-wrapper">
        <div class="container-fluid">
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h4 class="text-themecolor">Mis estados</h4>
                </div>
                <div class="col-md-7 align-self-center text-right">
                    <div class="d-flex justify-content-end align-items-center">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0)">Inicio</a></li>
                            <li class="breadcrumb-item active">Mis estados</li>
                        </ol>
                        <button type="button" @click="abrirModal('estado', 'registrar')" class="btn btn-info d-lg-block m-l-15"><i class="fa fa-plus-circle"></i> Agregar estado</button>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <div v-show="estadoModelo" class="form-group row alert alert-success">
                                <div class="text-left">
                                    <li v-for="estado in estados" :key="estado" v-text="estado"></li>
                                </div>
                            </div>
                            <div class="form-group row">
                                <template>
                                    <div class="table-responsive">
                                        <b-container fluid>
                                            <!-- User Interface controls -->
                                            <b-row>
                                            <b-col md="6" class="my-1">
                                                <b-form-group label-cols-sm="3" label="Filtrar" class="mb-0">
                                                <b-input-group>
                                                    <b-form-input v-model="filter" placeholder="Escribe para buscar" />
                                                    <b-input-group-append>
                                                    <b-button :disabled="!filter" @click="filter = ''">Limpiar</b-button>
                                                    </b-input-group-append>
                                                </b-input-group>
                                                </b-form-group>
                                            </b-col>

                                            <b-col md="6" class="my-1">
                                                <b-form-group label-cols-sm="3" label="Ordenar" class="mb-0">
                                                <b-input-group>
                                                    <b-form-select v-model="sortBy" :options="sortOptions">
                                                    <option slot="first" :value="null">-- nada --</option>
                                                    </b-form-select>
                                                    <b-form-select :disabled="!sortBy" v-model="sortDesc" slot="append">
                                                    <option :value="false">Asc</option> <option :value="true">Desc</option>
                                                    </b-form-select>
                                                </b-input-group>
                                                </b-form-group>
                                            </b-col>

                                            <b-col md="6" class="my-1">
                                                <b-form-group label-cols-sm="3" label="Dirección" class="mb-0">
                                                <b-input-group>
                                                    <b-form-select v-model="sortDirection" slot="append">
                                                    <option value="asc">Asc</option> <option value="desc">Desc</option>
                                                    <option value="last">Último</option>
                                                    </b-form-select>
                                                </b-input-group>
                                                </b-form-group>
                                            </b-col>

                                            <b-col md="6" class="my-1">
                                                <b-form-group label-cols-sm="3" label="Por página" class="mb-0">
                                                <b-form-select :options="pageOptions" v-model="perPage" />
                                                </b-form-group>
                                            </b-col>
                                            </b-row>

                                            <!-- Main table element -->
                                            <b-table class="table table-hover table-striped"
                                            show-empty
                                            responsive="md" 
                                            :items="arrayEstadosModelo"
                                            :fields="fields"
                                            :current-page="currentPage"
                                            :per-page="perPage"
                                            :filter="filter"
                                            :sort-by.sync="sortBy"
                                            :sort-desc.sync="sortDesc"
                                            :sort-direction="sortDirection"
                                            @filtered="onFiltered"
                                            >

                                            <template slot="acciones" slot-scope="row">
                                                <template>
                                                    <b-button size="xs" v-b-tooltip.hover title="Eliminar estado" @click="eliminarEstado(row.item.id)" class="btn btn-danger">
                                                        <i class="fas fa-remove-alt"></i>
                                                    </b-button>
                                                </template>
                                            </template>

                                            </b-table>

                                            <b-row>
                                            <b-col md="6" class="my-1">
                                                <b-pagination
                                                :total-rows="totalRows"
                                                :per-page="perPage"
                                                v-model="currentPage"
                                                class="my-0"
                                                />
                                            </b-col>
                                            </b-row>
                                        </b-container>
                                    </div>
                                    
                                </template>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade bs-example-modal-lg" :class="{'mostrar' : modal}" style="display: none;" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myLargeModalLabel" v-text="tituloModal"></h4>
                        <button type="button" class="close" @click="cerrarModal()" aria-hidden="true">×</button>
                    </div>
                    <div class="modal-body">
                        <div class="form-body">
                            <div v-show="errorEstadoModelo" class="form-group row alert alert-danger">
                                <div class="text-left">
                                    <li v-for="error in errores" :key="error" v-text="error"></li>
                                </div>
                            </div>
                            <form class="for">
                                <div class="form-group row">
                                    <div class="col-md-12">
                                        <div class="form-group row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label for="alias">Estado</label>
                                                    <input type="text" class="form-control" v-model="estado">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" @click="cerrarModal()">Cerrar</button>
                        <button type="button" v-if="tipoAccion==1" class="btn btn-primary" @click="registrarEstadoModelo()">Guardar</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
    </div>
</template>

<script>
    import BootstrapVue from 'bootstrap-vue'
    import PictureInput from 'vue-picture-input'

    Vue.use(BootstrapVue)

    const items = [
        { isActive: true, age: 40, name: { first: 'Dickerson', last: 'Macdonald' } }
    ]

    export default {
        data (){
            return {
                estado: "",
                arrayEstadosModelo : [],
                modal : 0,
                tituloModal : '',
                tipoAccion : 0,
                estadoModelo: 0,
                estados : [],
                errorEstadoModelo : 0,
                errores : [],
                items: items,
                fields: [
                    { key: 'id', label: 'NUM', sortable: true, sortDirection: 'desc', class: 'text-center' },
                    { key: 'estado', label: 'ESTADO', sortable: true, class: 'text-left' },
                    { key: 'acciones', label: 'ACCIONES', sortable: true, class: 'text-center' }
                ],
                currentPage: 1,
                perPage: 10,
                totalRows: 0,
                pageOptions: [10, 25, 50, 100],
                sortBy: null,
                sortDesc: false,
                sortDirection: 'asc',
                filter: null
            }
        },
        computed:{
            sortOptions() {
                // Create an options list from our fields
                return this.fields
                .filter(f => f.sortable)
                .map(f => {
                    return { text: f.label, value: f.key }
                })
            }
        },
        methods : {
            onFiltered(filteredItems) {
                // Trigger pagination to update the number of buttons/pages due to filtering
                this.totalRows = filteredItems.length
                this.currentPage = 1
            },
            listarEstado (){
                let me=this;
                var url= '/obtenerEstados';
                axios.get(url).then(function (response) {
                    me.arrayEstadosModelo = response.data.estados;
                    me.totalRows = me.arrayEstadosModelo.length;
                })
                .catch(function (error) {
                    console.log(error.response.data);
                });
            },
            eliminarEstado(id){
                swal({
                    title: '¿Deseas quitar definitivamente el estado?',
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Aceptar!',
                    cancelButtonText: 'Cancelar',
                    confirmButtonClass: 'btn btn-success',
                    cancelButtonClass: 'btn btn-danger',
                    buttonsStyling: false,
                    reverseButtons: true
                    }).then((result) => {
                        if (result.value) {
                            let me = this;

                            axios.post('/estado/eliminar',{
                                'id': id
                            }).then(function (response) {
                                me.listarEstado();
                                swal(
                                    'El estado ha sido eliminado para siempre de la plataforma!',
                                    'El registro ha sido modificado con éxito.',
                                    'success'
                                )
                            }).catch(function (error) {
                                console.log(error);
                            });
                            
                            
                        } else if (result.dismiss === swal.DismissReason.cancel) {}
                }) 
            },
            abrirModal(modelo, accion, data = []){
                switch(modelo){
                    case "estado":
                    {
                        switch(accion){
                            case 'registrar':
                            {
                                this.modal = 1;
                                this.tituloModal = 'Registrar Estado';
                                this.tipoAccion = 1;

                                this.id_modelo = 0;
                                this.alias = '';
                                this.telefono = 0;
                                this.correo = '';
                                this.clave = '';
                                this.edad = 0;
                                this.nacionalidad = '';
                                this.altura = 0;
                                this.busto = 0;
                                this.cintura = 0;
                                this.caderas = 0;
                                this.descripcion = '';
                                this.foto_perfil = null;
                                this.video = null;
                                this.foto_uno = null;
                                this.foto_dos = null;
                                this.foto_tres = null;
                                this.foto_cuatro = null;
                                this.foto_cinco = null;
                                this.foto_seis = null;
                                this.foto_siete = null;
                                this.foto_ocho = null;
                                this.foto_nueve = null;
                                this.foto_diez = null;
                                this.foto_once = null;
                                this.foto_doce = null;
                                this.foto_perfil_url = '';
                                this.foto_uno_url = '';
                                this.foto_dos_url = '';
                                this.foto_tres_url = '';
                                this.foto_cuatro_url = '';
                                this.foto_cinco_url = '';
                                this.foto_seis_url = '';
                                this.foto_siete_url = '';
                                this.foto_ocho_url = '';
                                this.foto_nueve_url = '';
                                this.foto_diez_url = '';
                                this.foto_once_url = '';
                                this.foto_doce_url = '';
                                break;
                            }
                            case 'actualizar':
                            {   
                                let me = this;
                                this.modal = 1;
                                this.tituloModal = 'Actualizar Modelo';
                                this.tipoAccion = 2;

                                this.id_modelo = data['id'];
                                this.alias = data['nombre'];
                                this.telefono = data['telefono'];
                                this.correo = data['email'];
                                this.edad = data['edad'];
                                this.nacionalidad = data['nacionalidad'];
                                this.clave = '';
                                this.altura = data['altura'];
                                this.busto = data['busto'];
                                this.cintura = data['cintura'];
                                this.caderas = data['caderas'];
                                this.descripcion = data['descripcion'];

                                if(data['perfil_url'] != null){
                                    me.foto_perfil_url = 'storage/' + data['perfil_url'];
                                    me.imagePerfilUrl();
                                }
                        
                                if(data['foto_uno_url'] != null){
                                    me.foto_uno_url = 'storage/' + data['foto_uno_url'];
                                    me.imageGaleriaUno();
                                }

                                if(data['foto_dos_url'] != null){
                                    me.foto_dos_url = 'storage/' + data['foto_dos_url'];
                                    me.imageGaleriaDos();
                                }

                                if(data['foto_tres_url'] != null){
                                    me.foto_tres_url = 'storage/' + data['foto_tres_url'];
                                    me.imageGaleriaTres();
                                }

                                if(data['foto_cuatro_url'] != null){
                                    me.foto_cuatro_url = 'storage/' + data['foto_cuatro_url'];
                                    me.imageGaleriaCuatro();
                                }

                                if(data['foto_cinco_url'] != null){
                                    me.foto_cinco_url = 'storage/' + data['foto_cinco_url'];
                                    me.imageGaleriaCinco();
                                }

                                if(data['foto_seis_url'] != null){
                                    me.foto_seis_url = 'storage/' + data['foto_seis_url'];
                                    me.imageGaleriaSeis();
                                }

                                if(data['foto_siete_url'] != null){
                                    me.foto_siete_url = 'storage/' + data['foto_siete_url'];
                                    me.imageGaleriaSiete();
                                }

                                if(data['foto_ocho_url'] != null){
                                    me.foto_ocho_url = 'storage/' + data['foto_ocho_url'];
                                    me.imageGaleriaOcho();
                                }

                                if(data['foto_nueve_url'] != null){
                                    me.foto_nueve_url = 'storage/' + data['foto_nueve_url'];
                                    me.imageGaleriaNueve();
                                }

                                if(data['foto_diez_url'] != null){
                                    me.foto_diez_url = 'storage/' + data['foto_diez_url'];
                                    me.imageGaleriaDiez();
                                }

                                if(data['foto_once_url'] != null){
                                    me.foto_once_url = 'storage/' + data['foto_once_url'];
                                    me.imageGaleriaOnce();
                                }

                                if(data['foto_doce_url'] != null){
                                    me.foto_doce_url = 'storage/' + data['foto_doce_url'];
                                    me.imageGaleriaDoce();
                                }
                                
                                break;
                            }
                        }
                    }
                }
            },
            cerrarModal(){
                this.modal = 0;
                this.tituloModal = '';
                this.tipoAccion = 0;
            },
            registrarEstadoModelo(){
                if(this.validarEstadoModelo()){ return; }

                let me = this;

                axios.post('/registrarEstado',{
                    'estado': this.estado
                }).then(function (response) {
                    this.listarEstado();
                    me.cerrarModal();
                    me.estadoModeloTexto(1);
                }).catch(function (error) {
                    console.log(error.response.data);
                });
                

            },
            validarEstadoModelo(){
                this.errorEstadoModelo = 0;
                this.errores = [];
                this.estadoUsuario = 0;
                
                if(this.estado.lenght < 1 || this.estado.length > 100) this.errores.push("El estado debe contener entre 1 y 100 caracteres.");

                if (this.errores.length) this.errorEstadoModelo = 1;

                return this.errorEstadoModelo;
            },
            estadoModeloTexto(estado){
                this.estadoModelo = 0;
                this.estados = [];

                if(estado == 1){
                    this.estados.push('Registro agregado exitosamente');
                } else if(estado == 2){
                    this.estados.push('Registro actualizado exitosamente');
                }

                if (this.estados.length) this.estadoModelo = 1;

                return this.estadoModelo;
            },
        },
        mounted() {
            this.listarEstado();
        }
    }
</script>

<style>    
    .modal-content{
        width: 100% !important;
        position: absolute !important;
    }

    .modal-body{
        max-height: calc(100vh - 200px);
        overflow-y: auto;
    }

    .modal-lg{
        max-width: 90%;
    }

    .form-group{
        margin-bottom: 5px; 
    }
    .mostrar{
        display: list-item !important;
        opacity: 1 !important;
        position: fixed !important;
        background-color: #000000b3 !important;
    }

    .table td{
        padding: 0.30rem;
    }

    .table th{
        padding: 0.50rem;
    }

    .custom-file-input:lang(en) ~ .custom-file-label::after {
        content: 'Buscar';
    }
</style>
