<template>
    <section class="ds section_padding_70 parallax">
        <div class="container">
            <div class="row">
                <div class="col-sm-offset-2 col-sm-8 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8 text-center">
                    <h2 class="big margin_0">¿Qué deseas?</h2>
                    <h2 class="muellerhoff topmargin_5 bottommargin_50 highlight">Bienvenidos</h2>

                    <div class="row text-center">
                        <a href="#" @click="menu=1" class="btn-block theme_button color1 bottommargin_5" style="font-size: 30px;">ESCORT EN CONCEPCIÓN</a>
                        <a href="#" @click="menu=2" class="btn-block theme_button color1 bottommargin_5" style="margin-left: 0px; margin-bottom: 5px;" >AVISOS ERÓTICOS ESCORT</a>
                        <a href="#" @click="menu=3" class="btn-block theme_button color1 bottommargin_5" style="margin-left: 0px; margin-bottom: 5px;" >GENTE BUSCA SEXO</a>
                        <button disabled type="button" class="btn-block theme_button color1 bottommargin_5" style="margin-left: 0px; margin-bottom: 5px;" >CHAT CALIENTE (Próximamente) </button>
                        <button disabled type="button" class="btn-block theme_button color1 bottommargin_5" style="margin-left: 0px; margin-bottom: 5px;" >VIDEOS CALIENTES (Próximamente) </button>
                    </div>

                </div>
            </div>
        </div>
    </section>


</template>

