<template>
    <div class="page-wrapper">
        <div class="container-fluid">
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h4 class="text-themecolor">Datos de Página</h4>
                </div>
                <div class="col-md-7 align-self-center text-right">
                    <div class="d-flex justify-content-end align-items-center">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0)">Inicio</a></li>
                            <li class="breadcrumb-item active">Página</li>
                        </ol>
                        <button type="button" @click="actualizarPagina()" class="btn btn-success d-lg-block m-l-15"><i class="fa fa-plus-circle"></i> Actualizar información</button>
                    </div>
                </div>
            </div>
        </div>

        <div v-show="errorPagina" class="row container-fluid">
            <div class="col-12">
                <div class="alert alert-danger text-left">
                    <li v-for="error in errores" :key="error" v-text="error"></li>
                </div>
            </div>
        </div>

        <div v-show="estadoPagina" class="row container-fluid">
            <div class="col-12">
                <div class="alert alert-success text-left">
                    <li>Datos de página actualizados correctamente</li>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <form action="" class="form" enctype="multipart/form-data" id="formulario" name="formulario">
                    <div class="form-group row">
                        <label for="" class="col-2 col-form-label">Teléfono</label>
                        <div class="col-10">
                            <input type="number" class="form-control" v-model.number="telefono" required min="0" max="" placerholder="987654321">  
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="" class="col-2 col-form-label">Correo</label>
                        <div class="col-10">
                            <input type="email" class="form-control" v-model="correo" required placerholder="ejemplo@ejemplo.cl">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>

    export default {
        data (){
            return {
                telefono: 0,
                correo: '',
                estadoPagina: 0,
                errorPagina: 0,
                errores: []
            }
        },
        methods : {
            obtenerPagina(){
                let me = this;

                axios.get('/obtenerPagina').then(function (response) {
                    me.telefono = response.data.pagina.telefono;
                    me.correo = response.data.pagina.email;
                }).catch(function (error) {
                    console.log(error.response.data);
                });
            },
            actualizarPagina(){
                if (this.validarPagina()){ return;}
                
                let me = this;
                

                axios.post('/actualizarPagina',{
                    'telefono': this.telefono,
                    'correo': this.correo
                }).then(function (response) {
                    me.obtenerPagina();
                    me.estadoPagina = 1;
                }).catch(function (error) {
                    console.log(error.response.data);
                });
            },
            validarPagina(){
                this.errorPagina = 0;
                this.errores = [];
                this.estadoPagina = 0;

                if (!this.telefono) this.errores.push("Debes ingresar un teléfono valido.");
                if (!this.correo) this.errores.push("El campo correo debe contener algo.");

                if (this.errores.length) this.errorPagina = 1;

                return this.errorPagina;
            }
        },
        mounted() {
            this.obtenerPagina();
        }

    }

</script>

<style>    
    .picture-input{
        position: sticky;
    }
</style>
