<template>
    <div class="page-wrapper">
        <div class="container-fluid">
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h4 class="text-themecolor">Mi Perfil</h4>
                </div>
                <div class="col-md-7 align-self-center text-right">
                    <div class="d-flex justify-content-end align-items-center">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0)">Inicio</a></li>
                            <li class="breadcrumb-item active">Mi Perfil</li>
                        </ol>
                        <button type="button" @click="actualizarUsuario()" class="btn btn-success d-lg-block m-l-15"><i class="fa fa-plus-circle"></i> Actualizar información</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row container-fluid" v-show="!this.descripcion">
            <div class="col-12">
                <div class="alert alert-danger text-left">
                    <li>
                        Debes completar los datos y subir una foto de perfil para que aparezcas publicada.
                    </li>
                </div>
            </div>
        </div>

        <div v-show="errorUsuario" class="row container-fluid">
            <div class="col-12">
                <div class="alert alert-danger text-left">
                    <li v-for="error in errores" :key="error" v-text="error"></li>
                </div>
            </div>
        </div>

        <div v-show="estadoUsuario" class="row container-fluid">
            <div class="col-12">
                <div class="alert alert-success text-left">
                    <li>Usuario actualizado correctamente</li>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <form action="" class="form" enctype="multipart/form-data" id="formulario" name="formulario">
                    <div class="row">
                        <div class="col-sm-4 m-b-20">
                            <h4 class="card-title text-center">Foto de Perfil</h4>    
                            <div class="hello">    
                                <picture-input id="foto_perfil" name="foto_perfil" v-model="foto_perfil" margin="10" 
                                               accept="image/jpeg,image/png,image/jpg" 
                                               size="10"
                                               required
                                               :prefill="imagePerfilUrl()"
                                               :custom-strings="opciones"
                                                @change="onChangePerfil">
                                                >
                                </picture-input>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <h4 class="card-title text-center">Datos</h4> 
                            <div class="form-group row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="alias">Alias</label>
                                        <input type="text" class="form-control" v-model="alias">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="telefono">Teléfono</label>
                                        <input type="number" class="form-control" v-model.number="telefono" min="0" step="1">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="edad">Edad</label>
                                        <input type="number" class="form-control" v-model="edad">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="nacionalidad">Nacionalidad</label>
                                        <input type="text" class="form-control" v-model="nacionalidad">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label> Ciudad</label>
                                    <select class="form-control p-0" v-model="ciudad_id">
                                        <option v-for="ciudad in ciudades" :key="ciudad.id" :value="ciudad.id" v-text="ciudad.nombre"></option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="">Altura (MT)</label>
                                        <input type="number" class="form-control" v-model.number="altura" required min="0" max="3" step="0.01">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="">Busto (CM)</label>
                                        <input type="number" class="form-control" v-model.number="busto" required min="0" max="250" step="1">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="">Cintura (CM)</label>
                                        <input type="number" class="form-control" v-model.number="cintura" required min="0" max="250" step="1">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="">Caderas (CM)</label>
                                        <input type="number" class="form-control" v-model.number="caderas" required min="0" max="250" step="1">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <h4 class="card-title text-left">Vídeo</h4> 
                                    </div>
                                </div>
                            </div> 
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <b-form-file id="video_perfil" name="video_perfil"
                                            v-model="video_perfil"
                                            accept="video/*"
                                            placeholder="Selecciona tu vídeo"
                                            drop-placeholder="Arrastra y suelta aquí..."
                                            >
                                        </b-form-file>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="nombre">Descripción sobre ti .....</label>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <textarea class="form-control" rows="4" v-model="descripcion" required></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <h4 class="card-title text-left">Fotos de galería</h4> 
                                    </div>
                                </div>
                            </div> 
                            <div class="form-group row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <picture-input id="foto_uno" name="foto_uno" v-model="foto_uno" margin="10" 
                                               accept="image/jpeg,image/png,image/jpg" 
                                               size="10"
                                               :prefill="imageGaleriaUno()"
                                               :custom-strings="opciones"
                                                @change="onChangeF1">
                                                >
                                        </picture-input>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <picture-input id="foto_dos" name="foto_dos" v-model="foto_dos" margin="10" 
                                               accept="image/jpeg,image/png,image/jpg" 
                                               size="10"
                                               :prefill="imageGaleriaDos()"
                                               :custom-strings="opciones"
                                                @change="onChangeF2">
                                                >
                                        </picture-input>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <picture-input id="foto_tres" name="foto_tres" v-model="foto_tres" margin="10" 
                                               accept="image/jpeg,image/png,image/jpg" 
                                               size="10"
                                               :prefill="imageGaleriaTres()"
                                               :custom-strings="opciones"
                                                @change="onChangeF3">
                                        </picture-input>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <picture-input id="foto_cuatro" name="foto_cuatro" v-model="foto_cuatro" margin="10" 
                                               accept="image/jpeg,image/png,image/jpg" 
                                               size="10"
                                               :prefill="imageGaleriaCuatro()"
                                               :custom-strings="opciones"
                                                @change="onChangeF4">>
                                        </picture-input>
                                    </div>
                                </div>
                            </div> 
                            <div class="form-group row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <picture-input id="foto_cinco" name="foto_cinco" v-model="foto_cinco" margin="10" 
                                            accept="image/jpeg,image/png,image/jpg" 
                                            size="10"
                                            :prefill="imageGaleriaCinco()"
                                            :custom-strings="opciones"
                                                @change="onChangeF1">
                                        </picture-input>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <picture-input id="foto_seis" name="foto_seis" v-model="foto_seis" margin="10" 
                                            accept="image/jpeg,image/png,image/jpg" 
                                            size="10"
                                            :prefill="imageGaleriaSeis()"
                                            :custom-strings="opciones"
                                                @change="onChangeF2">
                                        </picture-input>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <picture-input id="foto_siete" name="foto_siete" v-model="foto_siete" margin="10" 
                                            accept="image/jpeg,image/png,image/jpg" 
                                            size="10"
                                            :prefill="imageGaleriaSiete()"
                                            :custom-strings="opciones"
                                                @change="onChangeF3">
                                        </picture-input>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <picture-input id="foto_ocho" name="foto_ocho" v-model="foto_ocho" margin="10" 
                                            accept="image/jpeg,image/png,image/jpg" 
                                            size="10"
                                            :prefill="imageGaleriaOcho()"
                                            :custom-strings="opciones"
                                                @change="onChangeF4">
                                        </picture-input>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <picture-input id="foto_nueve" name="foto_nueve" v-model="foto_nueve" margin="10" 
                                            accept="image/jpeg,image/png,image/jpg" 
                                            size="10"
                                            :prefill="imageGaleriaNueve()"
                                            :custom-strings="opciones"
                                                @change="onChangeF1">
                                        </picture-input>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <picture-input id="foto_diez" name="foto_diez" v-model="foto_diez" margin="10" 
                                            accept="image/jpeg,image/png,image/jpg" 
                                            size="10"
                                            :prefill="imageGaleriaDiez()"
                                            :custom-strings="opciones"
                                                @change="onChangeF2">
                                        </picture-input>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <picture-input id="foto_once" name="foto_once" v-model="foto_once" margin="10" 
                                            accept="image/jpeg,image/png,image/jpg" 
                                            size="10"
                                            :prefill="imageGaleriaOnce()"
                                            :custom-strings="opciones"
                                                @change="onChangeF3">
                                        </picture-input>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <picture-input id="foto_doce" name="foto_doce" v-model="foto_doce" margin="10" 
                                            accept="image/jpeg,image/png,image/jpg" 
                                            size="10"
                                            :prefill="imageGaleriaDoce()"
                                            :custom-strings="opciones"
                                                @change="onChangeF4">
                                        </picture-input>
                                    </div>
                                </div>
                            </div>  
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    import PictureInput from 'vue-picture-input'

    export default {
        data (){
            return {
                ciudad_id: 0,
                ciudades: [],
                alias: '',
                telefono: 0,
                clave: '',
                edad: 0,
                nacionalidad: '',
                altura: 0,
                busto: 0,
                cintura: 0,
                caderas: 0,
                descripcion: '',
                foto_perfil: null,
                video_perfil: null,
                foto_uno: null,
                foto_dos: null,
                foto_tres: null,
                foto_cuatro: null,
                foto_cinco: null,
                foto_seis: null,
                foto_siete: null,
                foto_ocho: null,
                foto_nueve: null,
                foto_diez: null,
                foto_once: null,
                foto_doce: null,
                foto_perfil_url: '',
                foto_uno_url: '',
                foto_dos_url: '',
                foto_tres_url: '',
                foto_cuatro_url: '',
                foto_cinco_url: '',
                foto_seis_url: '',
                foto_siete_url: '',
                foto_ocho_url: '',
                foto_nueve_url: '',
                foto_diez_url: '',
                foto_once_url: '',
                foto_doce_url: '',
                errorUsuario: 0,
                estadoUsuario: 0,
                errores: [],
                opciones:
                    {
                        upload: '<p>Su dispositivo no admite la carga de archivos.</p>',
                        drag: 'Toca y selecciona <br> o arrastra',
                        tap: 'Toque aquí para seleccionar una foto <br> desde tu galería',
                        change: 'Cambiar foto',
                        remove: 'Eliminar foto',
                        select: 'Seleccionar foto',
                        selected: '<p>!Foto seleccionada exitosamente!</p>',
                        fileSize: 'El tamaño del archivo supera el límite',
                        fileType: 'Este tipo de archivo no es compatible.',
                        aspect: 'Landscape/Portrait'
                    }
            }
        },
        components: {
            PictureInput
        },
        methods : {
            listarCiudades(){
                let me=this;
                var url= '/ciudades';
                axios.get(url).then(function (response) {
                    var respuesta= response.data;
                    me.ciudades = respuesta.ciudades;
                    me.totalRows = me.ciudades.length;
                })
                .catch(function (error) {
                    console.log(error.response.data);
                });
            },
            onChangePerfil (image) {
                if (image) {
                    this.foto_perfil = image;
                }
            },
            onChangeF1 (image) {
                if (image) {
                    this.foto_uno = image;
                }
            },
            onChangeF2 (image) {
                if (image) {
                    this.foto_dos = image;
                }
            },
            onChangeF3 (image) {
                if (image) {
                    this.foto_tres = image;
                }
            },
            onChangeF4 (image) {
                if (image) {
                    this.foto_cuatro = image;
                }
            },
            onChangeF5 (image) {
                if (image) {
                    this.foto_cinco = image;
                }
            },
            onChangeF6 (image) {
                if (image) {
                    this.foto_seis = image;
                }
            },
            onChangeF7 (image) {
                if (image) {
                    this.foto_siete = image;
                }
            },
            onChangeF8 (image) {
                if (image) {
                    this.foto_ocho = image;
                }
            },
            onChangeF9 (image) {
                if (image) {
                    this.foto_nueve = image;
                }
            },
            onChangeF10 (image) {
                if (image) {
                    this.foto_diez = image;
                }
            },
            onChangeF11 (image) {
                if (image) {
                    this.foto_once = image;
                }
            },
            onChangeF12 (image) {
                if (image) {
                    this.foto_doce = image;
                }
            },
            imagePerfilUrl() {
                return this.foto_perfil_url;
            },
            imageGaleriaUno() {
                return this.foto_uno_url;
            },
            imageGaleriaDos() {
                return this.foto_dos_url;
            },
            imageGaleriaTres() {
                return this.foto_tres_url;
            },
            imageGaleriaCuatro() {
                return this.foto_cuatro_url;
            },
            imageGaleriaCinco() {
                return this.foto_cinco_url;
            },
            imageGaleriaSeis() {
                return this.foto_seis_url;
            },
            imageGaleriaSiete() {
                return this.foto_siete_url;
            },
            imageGaleriaOcho() {
                return this.foto_ocho_url;
            },
            imageGaleriaNueve() {
                return this.foto_nueve_url;
            },
            imageGaleriaDiez() {
                return this.foto_diez_url;
            },
            imageGaleriaOnce() {
                return this.foto_once_url;
            },
            imageGaleriaDoce() {
                return this.foto_doce_url;
            },
            obtenerUsuario(){
                let me = this;
                axios.get('/obtenerUsuario').then(function (response) {
                    me.ciudad_id = response.data.usuario.ciudad_id;
                    me.alias = response.data.usuario.nombre;
                    me.telefono = response.data.usuario.telefono;
                    me.edad = response.data.usuario.edad;
                    me.nacionalidad = response.data.usuario.nacionalidad;
                    me.altura = response.data.usuario.altura;
                    me.busto = response.data.usuario.busto;
                    me.cintura = response.data.usuario.cintura;
                    me.caderas = response.data.usuario.caderas;
                    me.descripcion = response.data.usuario.descripcion;

                    if(response.data.usuario.perfil_url != null){
                        me.foto_perfil_url = 'storage/' + response.data.usuario.perfil_url;
                        me.imagePerfilUrl();
                    }
            
                    if(response.data.usuario.foto_uno_url != null){
                        me.foto_uno_url = 'storage/' + response.data.usuario.foto_uno_url;
                        me.imageGaleriaUno();
                    }

                    if(response.data.usuario.foto_dos_url != null){
                        me.foto_dos_url = 'storage/' + response.data.usuario.foto_dos_url;
                        me.imageGaleriaDos();
                    }

                    if(response.data.usuario.foto_tres_url != null){
                        me.foto_tres_url = 'storage/' + response.data.usuario.foto_tres_url;
                        me.imageGaleriaTres();
                    }

                    if(response.data.usuario.foto_cuatro_url != null){
                        me.foto_cuatro_url = 'storage/' + response.data.usuario.foto_cuatro_url;
                        me.imageGaleriaCuatro();
                    }

                    if(response.data.foto_cinco_url != null){
                        me.foto_cinco_url = 'storage/' + response.data.foto_cinco_url;
                        me.imageGaleriaCinco();
                    }

                    if(response.data.foto_seis_url != null){
                        me.foto_seis_url = 'storage/' + response.data.foto_seis_url;
                        me.imageGaleriaSeis();
                    }

                    if(response.data.foto_siete_url != null){
                        me.foto_siete_url = 'storage/' + response.data.foto_siete_url;
                        me.imageGaleriaSiete();
                    }

                    if(response.data.foto_ocho_url != null){
                        me.foto_ocho_url = 'storage/' + response.data.foto_ocho_url;
                        me.imageGaleriaOcho();
                    }

                    if(response.data.foto_nueve_url != null){
                        me.foto_nueve_url = 'storage/' + response.data.foto_nueve_url;
                        me.imageGaleriaNueve();
                    }

                    if(response.data.foto_diez_url != null){
                        me.foto_diez_url = 'storage/' + response.data.foto_diez_url;
                        me.imageGaleriaDiez();
                    }

                    if(response.data.foto_once_url != null){
                        me.foto_once_url = 'storage/' + response.data.foto_once_url;
                        me.imageGaleriaOnce();
                    }

                    if(response.data.foto_doce_url != null){
                        me.foto_doce_url = 'storage/' + response.data.foto_doce_url;
                        me.imageGaleriaDoce();
                    }
                }).catch(function (error) {
                    console.log(error.response.data);
                });
            },
            actualizarUsuario(){
                if (this.validarUsuario()){ return;}
                
                let me = this;
                
                const formData = new FormData();
                const video = document.querySelector('#video_perfil');
                const perfil = document.querySelector('#foto_perfil');
                const foto_uno = document.querySelector('#foto_uno');
                const foto_dos = document.querySelector('#foto_dos');
                const foto_tres = document.querySelector('#foto_tres');
                const foto_cuatro = document.querySelector('#foto_cuatro');
                const foto_cinco = document.querySelector('#foto_cinco');
                const foto_seis = document.querySelector('#foto_seis');
                const foto_siete = document.querySelector('#foto_siete');
                const foto_ocho = document.querySelector('#foto_ocho');
                const foto_nueve = document.querySelector('#foto_nueve');
                const foto_diez = document.querySelector('#foto_diez');
                const foto_once = document.querySelector('#foto_once');
                const foto_doce = document.querySelector('#foto_doce');

                formData.append('foto_perfil', perfil.files[0]);
                formData.append('video', video.files[0]);
                formData.append('foto_uno', foto_uno.files[0]);
                formData.append('foto_dos', foto_dos.files[0]);
                formData.append('foto_tres', foto_tres.files[0]);
                formData.append('foto_cuatro', foto_cuatro.files[0]);
                formData.append('foto_cinco', foto_cinco.files[0]);
                formData.append('foto_seis', foto_seis.files[0]);
                formData.append('foto_siete', foto_siete.files[0]);
                formData.append('foto_ocho', foto_ocho.files[0]);
                formData.append('foto_nueve', foto_nueve.files[0]);
                formData.append('foto_diez', foto_diez.files[0]);
                formData.append('foto_once', foto_once.files[0]);
                formData.append('foto_doce', foto_doce.files[0]);
                
                formData.append('telefono', this.telefono);
                formData.append('clave', this.clave);

                formData.append('ciudad_id', this.ciudad_id);
                formData.append('edad', this.edad);
                formData.append('nacionalidad', this.nacionalidad);
                formData.append('altura', this.altura);
                formData.append('busto', this.busto);
                formData.append('cintura', this.cintura);
                formData.append('caderas', this.caderas);
                formData.append('descripcion', this.descripcion);
                formData.append('nombre', this.alias);
            

                if (this.validarUsuario()){ return;}

                axios.post('/actualizarUsuario',formData).then(function (response) {
                    me.estadoUsuario = 1;
                }).catch(function (error) {
                    console.log(error.response.data);
                });
            },
            validarUsuario(){
                this.errorUsuario = 0;
                this.errores = [];
                this.estadoUsuario = 0;

                if(this.foto_perfil != null){
                    let perfil = new Image;
                    perfil.src = this.foto_perfil;
                    if(perfil.height < perfil.width) this.errores.push("La foto debe contener un tamaño vertical y no horizontal");
                }

                if(!this.alias) this.errores.push("El campo alias debe contener algo.");
                if (this.telefono < 1) this.errores.push("Debes ingresar un teléfono valido con formato 987654321.");
                if (this.altura < 1) this.errores.push("El campo altura debe ser mayor a 0 y debe ser expresado en centímetros.");
                if (this.edad < 1) this.errores.push("La edad debe ser mayor a 0.");
                if (!this.nacionalidad) this.errores.push("El campo nacionalidad debe contener algo.");
                if (this.busto < 1 || this.busto % 1 != 0) this.errores.push("El campo busto debe ser mayor a 0 y debe ser expresado en metros.");
                if (this.cintura < 1 || this.cintura % 1 != 0) this.errores.push("El campo cintura debe ser mayor a 0 y debe ser expresado en centímetros.");
                if (this.caderas < 1 || this.caderas % 1 != 0) this.errores.push("El campo caderas debe ser mayor a 0 y debe ser expresado en centímetros.");
                if (!this.descripcion) this.errores.push("El campo descripción debe contener algo.");
                if (this.ciudad_id < 1) this.errores.push("Debes de seleccionar la ciudad en la que te encuentras.");

                if (this.errores.length) this.errorUsuario = 1;

                return this.errorUsuario;
            }
        },
        mounted() {
            this.obtenerUsuario();
            this.listarCiudades();
        }

    }

</script>

<style>    
    .picture-input{
        position: sticky;
    }
</style>
