<template>
    <div class="page-wrapper">
        <div class="container-fluid">
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h4 class="text-themecolor">Mi Perfil</h4>
                </div>
                <div class="col-md-7 align-self-center text-right">
                    <div class="d-flex justify-content-end align-items-center">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0)">Inicio</a></li>
                            <li class="breadcrumb-item active">Mi Perfil</li>
                        </ol>
                        <button type="button" @click="actualizarUsuario()" class="btn btn-success d-lg-block m-l-15"><i class="fa fa-plus-circle"></i> Actualizar información</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row container-fluid" v-show="!this.descripcion">
            <div class="col-12">
                <div class="alert alert-danger text-left">
                    <li>
                        Debes completar los datos y subir una foto de perfil para que aparezcas publicada.
                    </li>
                </div>
            </div>
        </div>

        <div v-show="errorUsuario" class="row container-fluid">
            <div class="col-12">
                <div class="alert alert-danger text-left">
                    <li v-for="error in errores" :key="error" v-text="error"></li>
                </div>
            </div>
        </div>

        <div v-show="estadoUsuario" class="row container-fluid">
            <div class="col-12">
                <div class="alert alert-success text-left">
                    <li>Usuario actualizado correctamente</li>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <form action="" class="form" enctype="multipart/form-data" id="formulario" name="formulario">
                    <div class="row">
                        <div class="col-sm-4 m-b-20">
                            <h4 class="card-title text-center">Foto de Perfil</h4>    
                            <div class="hello">    
                                <picture-input id="foto_perfil" name="foto_perfil" v-model="foto_perfil" margin="10" 
                                               accept="image/jpeg,image/png,image/jpg" 
                                               size="10"
                                               required
                                               :prefill="imagePerfilUrl()"
                                               :custom-strings="opciones"
                                                @change="onChangePerfil">
                                                >
                                </picture-input>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <h4 class="card-title text-center">Datos</h4> 
                            <div class="form-group row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Nombre</label>
                                        <input type="text" class="form-control" v-model="nombre">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="telefono">Teléfono</label>
                                        <input type="number" class="form-control" v-model.number="telefono" min="0" step="1">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="edad">Edad</label>
                                        <input type="number" class="form-control" v-model="edad">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="nacionalidad">Nacionalidad</label>
                                        <input type="text" class="form-control" v-model="nacionalidad">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label> Ciudad</label>
                                    <select class="form-control p-0" v-model="ciudad_id">
                                        <option v-for="ciudad in ciudades" :key="ciudad.id" :value="ciudad.id" v-text="ciudad.nombre"></option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="nombre">Descripción sobre ti .....</label>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <textarea class="form-control" rows="5" v-model="descripcion" required></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <h4 class="card-title text-left">Fotos de galería</h4> 
                                    </div>
                                </div>
                            </div> 
                            <div class="form-group row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <picture-input id="foto_uno" name="foto_uno" v-model="foto_uno" margin="10" 
                                               accept="image/jpeg,image/png,image/jpg" 
                                               size="10"
                                               :prefill="imageGaleriaUno()"
                                               :custom-strings="opciones"
                                                @change="onChangeF1">
                                                >
                                        </picture-input>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <picture-input id="foto_dos" name="foto_dos" v-model="foto_dos" margin="10" 
                                               accept="image/jpeg,image/png,image/jpg" 
                                               size="10"
                                               :prefill="imageGaleriaDos()"
                                               :custom-strings="opciones"
                                                @change="onChangeF2">
                                                >
                                        </picture-input>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <picture-input id="foto_tres" name="foto_tres" v-model="foto_tres" margin="10" 
                                               accept="image/jpeg,image/png,image/jpg" 
                                               size="10"
                                               :prefill="imageGaleriaTres()"
                                               :custom-strings="opciones"
                                                @change="onChangeF3">
                                        </picture-input>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <picture-input id="foto_cuatro" name="foto_cuatro" v-model="foto_cuatro" margin="10" 
                                               accept="image/jpeg,image/png,image/jpg" 
                                               size="10"
                                               :prefill="imageGaleriaCuatro()"
                                               :custom-strings="opciones"
                                                @change="onChangeF4">>
                                        </picture-input>
                                    </div>
                                </div>
                            </div> 
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    import PictureInput from 'vue-picture-input'

    export default {
        data (){
            return {
                ciudad_id: 0,
                ciudades: [],
                nombre: '',
                telefono: 0,
                edad: 0,
                nacionalidad: '',
                descripcion: '',
                foto_perfil: null,
                foto_uno: null,
                foto_dos: null,
                foto_tres: null,
                foto_cuatro: null,
                foto_perfil_url: '',
                foto_uno_url: '',
                foto_dos_url: '',
                foto_tres_url: '',
                foto_cuatro_url: '',
                errorUsuario: 0,
                estadoUsuario: 0,
                errores: [],
                opciones:
                    {
                        upload: '<p>Su dispositivo no admite la carga de archivos.</p>',
                        drag: 'Toca y selecciona <br> o arrastra',
                        tap: 'Toque aquí para seleccionar una foto <br> desde tu galería',
                        change: 'Cambiar foto',
                        remove: 'Eliminar foto',
                        select: 'Seleccionar foto',
                        selected: '<p>!Foto seleccionada exitosamente!</p>',
                        fileSize: 'El tamaño del archivo supera el límite',
                        fileType: 'Este tipo de archivo no es compatible.',
                        aspect: 'Landscape/Portrait'
                    }
            }
        },
        components: {
            PictureInput
        },
        methods : {
            listarCiudades(){
                let me=this;
                var url= '/ciudades';
                axios.get(url).then(function (response) {
                    var respuesta= response.data;
                    me.ciudades = respuesta.ciudades;
                    me.totalRows = me.ciudades.length;
                })
                .catch(function (error) {
                    console.log(error.response.data);
                });
            },
            onChangePerfil (image) {
                if (image) {
                    this.foto_perfil = image;
                }
            },
            onChangeF1 (image) {
                if (image) {
                    this.foto_uno = image;
                }
            },
            onChangeF2 (image) {
                if (image) {
                    this.foto_dos = image;
                }
            },
            onChangeF3 (image) {
                if (image) {
                    this.foto_tres = image;
                }
            },
            onChangeF4 (image) {
                if (image) {
                    this.foto_cuatro = image;
                }
            },
            imagePerfilUrl() {
                return this.foto_perfil_url;
            },
            imageGaleriaUno() {
                return this.foto_uno_url;
            },
            imageGaleriaDos() {
                return this.foto_dos_url;
            },
            imageGaleriaTres() {
                return this.foto_tres_url;
            },
            imageGaleriaCuatro() {
                return this.foto_cuatro_url;
            },
            obtenerUsuario(){
                let me = this;
                axios.get('/obtenerUsuario').then(function (response) {
                    me.ciudad_id = response.data.usuario.ciudad_id;
                    me.nombre = response.data.usuario.nombre;
                    me.telefono = response.data.usuario.telefono;
                    me.edad = response.data.usuario.edad;
                    me.nacionalidad = response.data.usuario.nacionalidad;
                    me.altura = response.data.usuario.altura;
                    me.busto = response.data.usuario.busto;
                    me.cintura = response.data.usuario.cintura;
                    me.caderas = response.data.usuario.caderas;
                    me.descripcion = response.data.usuario.descripcion;

                    if(response.data.usuario.perfil_url != null){
                        me.foto_perfil_url = 'storage/' + response.data.usuario.perfil_url;
                        me.imagePerfilUrl();
                    }
            
                    if(response.data.usuario.foto_uno_url != null){
                        me.foto_uno_url = 'storage/' + response.data.usuario.foto_uno_url;
                        me.imageGaleriaUno();
                    }

                    if(response.data.usuario.foto_dos_url != null){
                        me.foto_dos_url = 'storage/' + response.data.usuario.foto_dos_url;
                        me.imageGaleriaDos();
                    }

                    if(response.data.usuario.foto_tres_url != null){
                        me.foto_tres_url = 'storage/' + response.data.usuario.foto_tres_url;
                        me.imageGaleriaTres();
                    }

                    if(response.data.usuario.foto_cuatro_url != null){
                        me.foto_cuatro_url = 'storage/' + response.data.usuario.foto_cuatro_url;
                        me.imageGaleriaCuatro();
                    }
                }).catch(function (error) {
                    console.log(error.response.data);
                });
            },
            actualizarUsuario(){
                if (this.validarUsuario()){ return;}
                
                let me = this;
                
                const formData = new FormData();
                const perfil = document.querySelector('#foto_perfil');
                const foto_uno = document.querySelector('#foto_uno');
                const foto_dos = document.querySelector('#foto_dos');
                const foto_tres = document.querySelector('#foto_tres');
                const foto_cuatro = document.querySelector('#foto_cuatro');

                formData.append('foto_perfil', perfil.files[0]);
                formData.append('foto_uno', foto_uno.files[0]);
                formData.append('foto_dos', foto_dos.files[0]);
                formData.append('foto_tres', foto_tres.files[0]);
                formData.append('foto_cuatro', foto_cuatro.files[0]);
                
                formData.append('telefono', this.telefono);

                formData.append('ciudad_id', this.ciudad_id);
                formData.append('edad', this.edad);
                formData.append('nacionalidad', this.nacionalidad);
                formData.append('descripcion', this.descripcion);
                formData.append('nombre', this.nombre);
            
                axios.post('/actualizarUsuarioAviso',formData).then(function (response) {
                    me.estadoUsuario = 1;
                }).catch(function (error) {
                    console.log(error.response.data);
                });
            },
            validarUsuario(){
                this.errorUsuario = 0;
                this.errores = [];
                this.estadoUsuario = 0;

                if(this.foto_perfil != null){
                    let perfil = new Image;
                    perfil.src = this.foto_perfil;
                    if(perfil.height < perfil.width) this.errores.push("La foto debe contener un tamaño vertical y no horizontal");
                }

                if(!this.nombre) this.errores.push("El campo nombre debe contener algo.");
                if (this.telefono < 1) this.errores.push("Debes ingresar un teléfono valido con formato 987654321.");
                if (this.edad < 1) this.errores.push("La edad debe ser mayor a 0.");
                if (!this.nacionalidad) this.errores.push("El campo nacionalidad debe contener algo.");
                if (!this.descripcion) this.errores.push("El campo descripción debe contener algo.");
                if (this.ciudad_id < 1) this.errores.push("Debes de seleccionar la ciudad en la que te encuentras.");

                if (this.errores.length) this.errorUsuario = 1;

                return this.errorUsuario;
            }
        },
        mounted() {
            this.obtenerUsuario();
            this.listarCiudades();
        }

    }

</script>

<style>    
    .picture-input{
        position: sticky;
    }
</style>
