<template>
    <div class="page-wrapper">
        <div class="container-fluid">
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h4 class="text-themecolor">Usuarios</h4>
                </div>
                <div class="col-md-7 align-self-center text-right">
                    <div class="d-flex justify-content-end align-items-center">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0)">Inicio</a></li>
                            <li class="breadcrumb-item active">Usuarios</li>
                        </ol>
                        <button type="button" @click="abrirModal('modelo','registrar')" class="btn btn-info d-lg-block m-l-15"><i class="fa fa-plus-circle"></i> Agregar modelo</button>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <div v-show="estadoModelo" class="form-group row alert alert-success">
                                <div class="text-left">
                                    <li v-for="estado in estados" :key="estado" v-text="estado"></li>
                                </div>
                            </div>
                            <div class="form-group row">
                                <template>
                                    <div class="table-responsive">
                                        <b-container fluid>
                                            <!-- User Interface controls -->
                                            <b-row>
                                            <b-col md="6" class="my-1">
                                                <b-form-group label-cols-sm="3" label="Filtrar" class="mb-0">
                                                <b-input-group>
                                                    <b-form-input v-model="filter" placeholder="Escribe para buscar" />
                                                    <b-input-group-append>
                                                    <b-button :disabled="!filter" @click="filter = ''">Limpiar</b-button>
                                                    </b-input-group-append>
                                                </b-input-group>
                                                </b-form-group>
                                            </b-col>

                                            <b-col md="6" class="my-1">
                                                <b-form-group label-cols-sm="3" label="Ordenar" class="mb-0">
                                                <b-input-group>
                                                    <b-form-select v-model="sortBy" :options="sortOptions">
                                                    <option slot="first" :value="null">-- nada --</option>
                                                    </b-form-select>
                                                    <b-form-select :disabled="!sortBy" v-model="sortDesc" slot="append">
                                                    <option :value="false">Asc</option> <option :value="true">Desc</option>
                                                    </b-form-select>
                                                </b-input-group>
                                                </b-form-group>
                                            </b-col>

                                            <b-col md="6" class="my-1">
                                                <b-form-group label-cols-sm="3" label="Dirección" class="mb-0">
                                                <b-input-group>
                                                    <b-form-select v-model="sortDirection" slot="append">
                                                    <option value="asc">Asc</option> <option value="desc">Desc</option>
                                                    <option value="last">Último</option>
                                                    </b-form-select>
                                                </b-input-group>
                                                </b-form-group>
                                            </b-col>

                                            <b-col md="6" class="my-1">
                                                <b-form-group label-cols-sm="3" label="Por página" class="mb-0">
                                                <b-form-select :options="pageOptions" v-model="perPage" />
                                                </b-form-group>
                                            </b-col>
                                            </b-row>

                                            <!-- Main table element -->
                                            <b-table class="table table-hover table-striped"
                                            show-empty
                                            responsive="md" 
                                            :items="arrayUsuarios"
                                            :fields="fields"
                                            :current-page="currentPage"
                                            :per-page="perPage"
                                            :filter="filter"
                                            :sort-by.sync="sortBy"
                                            :sort-desc.sync="sortDesc"
                                            :sort-direction="sortDirection"
                                            @filtered="onFiltered"
                                            >

                                            <template slot="acciones" slot-scope="row">

                                                <b-button size="xs" v-b-tooltip.hover title="Actualizar información modelo" @click="abrirModal('modelo','actualizar',row.item)" class="btn btn-warning">
                                                    <i class="fas fa-pencil-alt"></i>
                                                </b-button>

                                                <b-button size="xs" v-b-tooltip.hover title="Agregar videos a la modelo" @click="abrirModalVideos(row.item)" class="btn btn-info">
                                                    <i class="fas fa-plus"></i>
                                                </b-button>

                                                <template v-if="row.item.home == 1">
                                                    <b-button size="xs" v-b-tooltip.hover title="Quitar de Página principal" @click="quitarPrincipal(row.item.id)" class="btn btn-danger">
                                                        <i class="fas fa-star"></i>
                                                    </b-button>
                                                </template>
                                                <template v-else>
                                                    <b-button size="xs" v-b-tooltip.hover title="Añadir a Página principal" @click="subirSlider(row.item.id)" class="btn btn-success">
                                                        <i class="fas fa-star"></i>
                                                    </b-button>
                                                </template>

                                                <template v-if="row.item.slider == 1">
                                                    <b-button size="xs" v-b-tooltip.hover title="Quitar de slider" @click="quitarSlider(row.item.id)" class="btn btn-danger">
                                                        <i class="fas fa-file-download"></i>
                                                    </b-button>
                                                </template>
                                                <template v-else>
                                                    <b-button size="xs" v-b-tooltip.hover title="Poner en slider" @click="subirSlider(row.item.id)" class="btn btn-success">
                                                        <i class="fas fa-file-upload"></i>
                                                    </b-button>
                                                </template>

                                                <template v-if="row.item.agencia == 1">
                                                    <b-button size="xs" v-b-tooltip.hover title="Quitar de la agencia" @click="quitarAgencia(row.item.id)" class="btn btn-danger">
                                                        <i class="far fa-star"></i>
                                                    </b-button>
                                                </template>
                                                <template v-else>
                                                    <b-button size="xs" v-b-tooltip.hover title="Añadir a la agencia" @click="agregarAgencia(row.item.id)" class="btn btn-success">
                                                        <i class="fas fa-star"></i>
                                                    </b-button>
                                                </template>

                                                <template v-if="row.item.visible == 1">
                                                    <b-button size="xs" v-b-tooltip.hover title="Ocultar modelo" @click="ocultarModelo(row.item.id)" class="btn btn-danger">
                                                        <i class="fas fa-eye-slash"></i>
                                                    </b-button>
                                                </template>
                                                <template v-else>
                                                    <b-button size="xs" v-b-tooltip.hover title="Mostrar modelo" @click="mostrarModelo(row.item.id)" class="btn btn-success">
                                                        <i class="fas fa-eye"></i>
                                                    </b-button>
                                                </template>

                                                <template>
                                                    <b-button size="xs" v-b-tooltip.hover title="Eliminar modelo" @click="borrarModelo(row.item.id)" class="btn btn-danger">
                                                        <i class="fas fa-trash-alt"></i>
                                                    </b-button>
                                                </template>
                                            </template>

                                            </b-table>

                                            <b-row>
                                            <b-col md="6" class="my-1">
                                                <b-pagination
                                                :total-rows="totalRows"
                                                :per-page="perPage"
                                                v-model="currentPage"
                                                class="my-0"
                                                />
                                            </b-col>
                                            </b-row>
                                        </b-container>
                                    </div>
                                    
                                </template>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade bs-example-modal-lg" :class="{'mostrar' : modal}" style="display: none;" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myLargeModalLabel" v-text="tituloModal"></h4>
                        <button type="button" class="close" @click="cerrarModal()" aria-hidden="true">×</button>
                    </div>
                    <div class="modal-body">
                        <div class="form-body">
                            <div v-show="errorModelo" class="form-group row alert alert-danger">
                                <div class="text-left">
                                    <li v-for="error in errores" :key="error" v-text="error"></li>
                                </div>
                            </div>
                            <form class="for">
                                <div class="form-group row">
                                    <div class="col-md-4">
                                        <h4 class="card-title text-center">Foto de Perfil</h4>     
                                        <picture-input v-if="modal" id="foto_perfil" name="foto_perfil" v-model="foto_perfil" margin="10" 
                                                ref="pictureInput"
                                                accept="image/jpeg,image/png,image/jpg" 
                                                size="10"
                                                required
                                                :prefill="imagePerfilUrl()"
                                                :custom-strings="opciones"
                                                @change="onChangePerfil">
                                        </picture-input>
                                    </div>
                                    <div class="col-md-8">
                                        <h4 class="card-title text-center">Datos</h4> 
                                        <div class="form-group row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="alias">Alias</label>
                                                    <input type="text" class="form-control" v-model="alias">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="telefono">Teléfono</label>
                                                    <input type="number" class="form-control" v-model.number="telefono">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Usuario</label>
                                                    <input type="text" class="form-control" v-model="usuario">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="clave">Clave</label>
                                                    <input type="password" class="form-control" v-model="clave">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="edad">Edad</label>
                                                    <input type="number" class="form-control" v-model="edad">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="nacionalidad">Nacionalidad</label>
                                                    <input type="text" class="form-control" v-model="nacionalidad">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <label> Ciudad</label>
                                                <select class="form-control p-0" v-model="ciudad_id">
                                                    <option v-for="ciudad in ciudades" :key="ciudad.id" :value="ciudad.id" v-text="ciudad.nombre"></option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label for="">Altura (MT)</label>
                                                    <input type="number" class="form-control" v-model.number="altura" min="0" max="3" step="0.01">
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label for="">Busto (CM)</label>
                                                    <input type="number" class="form-control" v-model.number="busto" min="0" max="250" step="1">
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label for="">Cintura (CM)</label>
                                                    <input type="number" class="form-control" v-model.number="cintura" min="0" max="250" step="1">
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label for="">Caderas (CM)</label>
                                                    <input type="number" class="form-control" v-model.number="caderas" min="0" max="250" step="1">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <h4 class="card-title text-left">Vídeo</h4> 
                                                </div>
                                            </div>
                                        </div> 
                                        <div class="form-group row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <b-form-file id="video_perfil" name="video_perfil"
                                                        v-model="video_perfil"
                                                        accept="video/*"
                                                        placeholder="Selecciona tu vídeo"
                                                        drop-placeholder="Arrastra y suelta aquí..."
                                                        >
                                                    </b-form-file>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label for="nombre">Descripción sobre ti .....</label>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <textarea class="form-control" rows="4" v-model="descripcion"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br><br>
                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        <div class="form-group row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <h4 class="card-title text-left">Fotos de galería</h4> 
                                                </div>
                                            </div>
                                        </div> 
                                        <div class="form-group row">
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <picture-input v-if="modal" id="foto_uno" name="foto_uno" v-model="foto_uno" margin="10" 
                                                        accept="image/jpeg,image/png,image/jpg" 
                                                        size="10"
                                                        :prefill="imageGaleriaUno()"
                                                        :custom-strings="opciones"
                                                            @change="onChangeF1">
                                                    </picture-input>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <picture-input v-if="modal" id="foto_dos" name="foto_dos" v-model="foto_dos" margin="10" 
                                                        accept="image/jpeg,image/png,image/jpg" 
                                                        size="10"
                                                        :prefill="imageGaleriaDos()"
                                                        :custom-strings="opciones"
                                                            @change="onChangeF2">
                                                    </picture-input>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <picture-input v-if="modal" id="foto_tres" name="foto_tres" v-model="foto_tres" margin="10" 
                                                        accept="image/jpeg,image/png,image/jpg" 
                                                        size="10"
                                                        :prefill="imageGaleriaTres()"
                                                        :custom-strings="opciones"
                                                            @change="onChangeF3">
                                                    </picture-input>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <picture-input v-if="modal" id="foto_cuatro" name="foto_cuatro" v-model="foto_cuatro" margin="10" 
                                                        accept="image/jpeg,image/png,image/jpg" 
                                                        size="10"
                                                        :prefill="imageGaleriaCuatro()"
                                                        :custom-strings="opciones"
                                                            @change="onChangeF4">
                                                    </picture-input>
                                                </div>
                                            </div>
                                        </div> 
                                        <div class="form-group row">
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <picture-input v-if="modal" id="foto_cinco" name="foto_cinco" v-model="foto_cinco" margin="10" 
                                                        accept="image/jpeg,image/png,image/jpg" 
                                                        size="10"
                                                        :prefill="imageGaleriaCinco()"
                                                        :custom-strings="opciones"
                                                            @change="onChangeF1">
                                                    </picture-input>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <picture-input v-if="modal" id="foto_seis" name="foto_seis" v-model="foto_seis" margin="10" 
                                                        accept="image/jpeg,image/png,image/jpg" 
                                                        size="10"
                                                        :prefill="imageGaleriaSeis()"
                                                        :custom-strings="opciones"
                                                            @change="onChangeF2">
                                                    </picture-input>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <picture-input v-if="modal" id="foto_siete" name="foto_siete" v-model="foto_siete" margin="10" 
                                                        accept="image/jpeg,image/png,image/jpg" 
                                                        size="10"
                                                        :prefill="imageGaleriaSiete()"
                                                        :custom-strings="opciones"
                                                            @change="onChangeF3">
                                                    </picture-input>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <picture-input v-if="modal" id="foto_ocho" name="foto_ocho" v-model="foto_ocho" margin="10" 
                                                        accept="image/jpeg,image/png,image/jpg" 
                                                        size="10"
                                                        :prefill="imageGaleriaOcho()"
                                                        :custom-strings="opciones"
                                                            @change="onChangeF4">
                                                    </picture-input>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <picture-input v-if="modal" id="foto_nueve" name="foto_nueve" v-model="foto_nueve" margin="10" 
                                                        accept="image/jpeg,image/png,image/jpg" 
                                                        size="10"
                                                        :prefill="imageGaleriaNueve()"
                                                        :custom-strings="opciones"
                                                            @change="onChangeF1">
                                                    </picture-input>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <picture-input v-if="modal" id="foto_diez" name="foto_diez" v-model="foto_diez" margin="10" 
                                                        accept="image/jpeg,image/png,image/jpg" 
                                                        size="10"
                                                        :prefill="imageGaleriaDiez()"
                                                        :custom-strings="opciones"
                                                            @change="onChangeF2">
                                                    </picture-input>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <picture-input v-if="modal" id="foto_once" name="foto_once" v-model="foto_once" margin="10" 
                                                        accept="image/jpeg,image/png,image/jpg" 
                                                        size="10"
                                                        :prefill="imageGaleriaOnce()"
                                                        :custom-strings="opciones"
                                                            @change="onChangeF3">
                                                    </picture-input>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <picture-input v-if="modal" id="foto_doce" name="foto_doce" v-model="foto_doce" margin="10" 
                                                        accept="image/jpeg,image/png,image/jpg" 
                                                        size="10"
                                                        :prefill="imageGaleriaDoce()"
                                                        :custom-strings="opciones"
                                                            @change="onChangeF4">
                                                    </picture-input>
                                                </div>
                                            </div>
                                        </div>  
                                    </div>         
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" @click="cerrarModal()">Cerrar</button>
                        <button type="button" v-if="tipoAccion==1" class="btn btn-primary" @click="registrarModelo()">Guardar</button>
                        <button type="button" v-if="tipoAccion==2" class="btn btn-primary" @click="actualizarModelo()">Actualizar</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>

        <div class="modal fade bs-example-modal-lg" :class="{'mostrar' : modalVideo}" style="display: none;" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myLargeModalLabel" v-text="'Vídeos'"></h4>
                        <button type="button" class="close" @click="cerrarModalVideo()" aria-hidden="true">×</button>
                    </div>
                    <div class="modal-body">
                        <div class="form-body">
                            <div v-show="errorVideo" class="form-group row alert alert-danger">
                                <div class="text-left">
                                    <li v-for="error in errores" :key="error" v-text="error"></li>
                                </div>
                            </div>
                            <form class="form m-t-20">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <input type="text" class="form-control" v-model="titulo" placeholder="Título video">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input" accept="video/*" id="video" name="video">
                                            <label class="custom-file-label" for="customFile">Buscar Vídeo</label>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <button type="button" v-b-tooltip.hover title="Ingresar videos a la modelo" @click="subirVideo()" class="btn btn-info btn-block"><i class="fa fa-plus-circle"></i> Agregar</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="row m-t-20">
                                    <div class="table-responsive">
                                        <table id="tablaGiftcards" class="table table-bordered table-striped">
                                            <thead>
                                                <tr align="center">
                                                    <th>#</th>
                                                    <th>Título</th>
                                                    <th>Acción</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr v-for="(video, index) in videos" :key="video.id" :value="video.id">
                                                    <td align="center" class="align-middle">{{ index + 1 }}</td>
                                                    <td class="align-left">{{ video.titulo }}</td>
                                                    <td align="center">
                                                        <button type="button" v-b-tooltip.hover title="Eliminar Vídeo" @click="eliminarVideo(video.id)"  class="btn btn-danger btn-xs">
                                                            <i class="icon-trash"></i>
                                                        </button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" @click="cerrarModalVideo()">Cerrar</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
    </div>
</template>

<script>
    import BootstrapVue from 'bootstrap-vue'
    import PictureInput from 'vue-picture-input'

    Vue.use(BootstrapVue)

    const items = [
        { isActive: true, age: 40, name: { first: 'Dickerson', last: 'Macdonald' } }
    ]

    export default {
        data (){
            return {
                id_modelo: 0,
                ciudad_id: 0,
                alias: '',
                telefono: 0,
                usuario: '',
                clave: '',
                edad: 0,
                nacionalidad: '',
                altura: 0,
                busto: 0,
                cintura: 0,
                caderas: 0,
                descripcion: '',
                video_perfil: null,
                foto_perfil: null,
                foto_uno: null,
                foto_dos: null,
                foto_tres: null,
                foto_cuatro: null,
                foto_cinco: null,
                foto_seis: null,
                foto_siete: null,
                foto_ocho: null,
                foto_nueve: null,
                foto_diez: null,
                foto_once: null,
                foto_doce: null,
                foto_perfil_url: '',
                foto_uno_url: '',
                foto_dos_url: '',
                foto_tres_url: '',
                foto_cuatro_url: '',
                foto_cinco_url: '',
                foto_seis_url: '',
                foto_siete_url: '',
                foto_ocho_url: '',
                foto_nueve_url: '',
                foto_diez_url: '',
                foto_once_url: '',
                foto_doce_url: '',
                titulo: '',
                arrayUsuarios : [],
                ciudades: [],
                videos: [],
                modal : 0,
                modalVideo : 0,
                tituloModal : '',
                tipoAccion : 0,
                estadoModelo: 0,
                estados : [],
                errorModelo : 0,
                errorVideo : 0,
                errores : [],
                items: items,
                fields: [
                    { key: 'id', label: 'NUM', sortable: true, sortDirection: 'desc', class: 'text-center' },
                    { key: 'nombre', label: 'NOMBRE', sortable: true, class: 'text-left' },
                    { key: 'usuario', label: 'USUARIO', sortable: true, class: 'text-left' },
                    { key: 'acciones', label: 'ACCIONES', sortable: true, class: 'text-center' }
                ],
                currentPage: 1,
                perPage: 10,
                totalRows: 0,
                pageOptions: [10, 25, 50, 100],
                sortBy: null,
                sortDesc: false,
                sortDirection: 'asc',
                filter: null,
                opciones: {
                    upload: '<p>Su dispositivo no admite la carga de archivos.</p>',
                    drag: 'Toca y selecciona <br> o arrastra',
                    tap: 'Toque aquí para seleccionar una foto <br> desde tu galería',
                    change: 'Cambiar foto',
                    remove: 'Eliminar foto',
                    select: 'Seleccionar foto',
                    selected: '<p>!Foto seleccionada exitosamente!</p>',
                    fileSize: 'El tamaño del archivo supera el límite',
                    fileType: 'Este tipo de archivo no es compatible.',
                    aspect: 'Landscape/Portrait'
                }
            }
        },
        computed:{
            sortOptions() {
                // Create an options list from our fields
                return this.fields
                .filter(f => f.sortable)
                .map(f => {
                    return { text: f.label, value: f.key }
                })
            }
        },
        components: {
            PictureInput
        },
        methods : {
            onFiltered(filteredItems) {
                // Trigger pagination to update the number of buttons/pages due to filtering
                this.totalRows = filteredItems.length
                this.currentPage = 1
            },
            listarCiudades(){
                let me=this;
                var url= '/ciudades';
                axios.get(url).then(function (response) {
                    var respuesta= response.data;
                    me.ciudades = respuesta.ciudades;
                    me.totalRows = me.ciudades.length;
                })
                .catch(function (error) {
                    console.log(error.response.data);
                });
            },
            listarUsuarios (){
                let me=this;
                var url= '/obtenerUsuarios';
                axios.get(url).then(function (response) {
                    me.arrayUsuarios = response.data.usuarios;
                    me.totalRows = me.arrayUsuarios.length;
                })
                .catch(function (error) {
                    console.log(error.response.data);
                });
            },
            listarVideos(){
                let me = this;

                axios.post('/video/usuario',{
                    'id': this.id_modelo
                }).then(function (response) {
                    var respuesta= response.data;
                    me.videos = respuesta.videos;
                    me.totalRows = me.videos.length;
                })
                .catch(function (error) {
                    console.log(error.response.data);
                });
            },
            subirVideo(){
                if (this.validarVideo()){
                    return;
                }
                
                let me = this;

                const formData = new FormData();

                const video = document.querySelector('#video');
                formData.append('video', video.files[0]);
                formData.append('titulo', this.titulo);
                formData.append('usuario_id', this.id_modelo);


                axios.post('/video/registrar/usuario',formData).then(function (response) {
                    me.listarVideos();
                    me.statusVideo(1);
                    me.titulo = "";
                }).catch(function (error) {
                    console.log(error.response.data);
                });
            },
            quitarPrincipal(id){
                swal({
                    title: '¿Deseas quitar a la modelo de la página princiapal?',
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Aceptar!',
                    cancelButtonText: 'Cancelar',
                    confirmButtonClass: 'btn btn-success',
                    cancelButtonClass: 'btn btn-danger',
                    buttonsStyling: false,
                    reverseButtons: true
                    }).then((result) => {
                        if (result.value) {
                            let me = this;

                            axios.post('/usuario/quitarPrincipal',{
                                'id': id
                            }).then(function (response) {
                                me.listarUsuarios();
                                swal(
                                    'La modelo ha sido retirada de la página principal!',
                                    'El registro ha sido modificado con éxito.',
                                    'success'
                                )
                            }).catch(function (error) {
                                console.log(error);
                            });
                            
                            
                        } else if (result.dismiss === swal.DismissReason.cancel) {}
                }) 
            },
            quitarSlider(id){
                swal({
                    title: '¿Deseas quitar a la modelo del slider?',
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Aceptar!',
                    cancelButtonText: 'Cancelar',
                    confirmButtonClass: 'btn btn-success',
                    cancelButtonClass: 'btn btn-danger',
                    buttonsStyling: false,
                    reverseButtons: true
                    }).then((result) => {
                        if (result.value) {
                            let me = this;

                            axios.post('/usuario/quitarSlider',{
                                'id': id
                            }).then(function (response) {
                                me.listarUsuarios();
                                swal(
                                    'La modelo ha sido retirada del slider!',
                                    'El registro ha sido modificado con éxito.',
                                    'success'
                                )
                            }).catch(function (error) {
                                console.log(error);
                            });
                            
                            
                        } else if (result.dismiss === swal.DismissReason.cancel) {}
                }) 
            },
            subirPrincipal(id){
                swal({
                    title: '¿Deseas agregar a la modelo a la página principal?',
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Aceptar!',
                    cancelButtonText: 'Cancelar',
                    confirmButtonClass: 'btn btn-success',
                    cancelButtonClass: 'btn btn-danger',
                    buttonsStyling: false,
                    reverseButtons: true
                    }).then((result) => {
                        if (result.value) {
                            let me = this;

                            axios.post('/usuario/subirPrincipal',{
                                'id': id
                            }).then(function (response) {
                                me.listarUsuarios();
                                swal(
                                    'La modelo ha sido agregada a la página principal!',
                                    'El registro ha sido modificado con éxito.',
                                    'success'
                                )
                            }).catch(function (error) {
                                console.log(error);
                            });
                            
                            
                        } else if (result.dismiss === swal.DismissReason.cancel) {}
                }) 
            },
            subirSlider(id){
                swal({
                    title: '¿Deseas agregar a la modelo al slider?',
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Aceptar!',
                    cancelButtonText: 'Cancelar',
                    confirmButtonClass: 'btn btn-success',
                    cancelButtonClass: 'btn btn-danger',
                    buttonsStyling: false,
                    reverseButtons: true
                    }).then((result) => {
                        if (result.value) {
                            let me = this;

                            axios.post('/usuario/subirSlider',{
                                'id': id
                            }).then(function (response) {
                                me.listarUsuarios();
                                swal(
                                    'La modelo ha sido agregada al slider!',
                                    'El registro ha sido modificado con éxito.',
                                    'success'
                                )
                            }).catch(function (error) {
                                console.log(error);
                            });
                            
                            
                        } else if (result.dismiss === swal.DismissReason.cancel) {}
                }) 
            },
            ocultarModelo(id){
                swal({
                    title: '¿Deseas ocultar a la modelo de la plataforma?',
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Aceptar!',
                    cancelButtonText: 'Cancelar',
                    confirmButtonClass: 'btn btn-success',
                    cancelButtonClass: 'btn btn-danger',
                    buttonsStyling: false,
                    reverseButtons: true
                    }).then((result) => {
                        if (result.value) {
                            let me = this;

                            axios.post('/usuario/ocultarModelo',{
                                'id': id
                            }).then(function (response) {
                                me.listarUsuarios();
                                swal(
                                    'La modelo ha sido ocultada de plataforma!',
                                    'El registro ha sido modificado con éxito.',
                                    'success'
                                )
                            }).catch(function (error) {
                                console.log(error);
                            });
                            
                            
                        } else if (result.dismiss === swal.DismissReason.cancel) {}
                }) 
            },
            mostrarModelo(id){
                swal({
                    title: '¿Deseas mostrar la modelo en la plataforma?',
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Aceptar!',
                    cancelButtonText: 'Cancelar',
                    confirmButtonClass: 'btn btn-success',
                    cancelButtonClass: 'btn btn-danger',
                    buttonsStyling: false,
                    reverseButtons: true
                    }).then((result) => {
                        if (result.value) {
                            let me = this;

                            axios.post('/usuario/mostrarModelo',{
                                'id': id
                            }).then(function (response) {
                                me.listarUsuarios();
                                swal(
                                    'La modelo ha vuelto a ser visible en la plataforma!',
                                    'El registro ha sido modificado con éxito.',
                                    'success'
                                )
                            }).catch(function (error) {
                                console.log(error);
                            });
                            
                            
                        } else if (result.dismiss === swal.DismissReason.cancel) {}
                }) 
            },
            quitarAgencia(id){
                swal({
                    title: '¿Deseas quitar a la modelo de agencia?',
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Aceptar!',
                    cancelButtonText: 'Cancelar',
                    confirmButtonClass: 'btn btn-success',
                    cancelButtonClass: 'btn btn-danger',
                    buttonsStyling: false,
                    reverseButtons: true
                    }).then((result) => {
                        if (result.value) {
                            let me = this;

                            axios.post('/usuario/quitarAgencia',{
                                'id': id
                            }).then(function (response) {
                                me.listarUsuarios();
                                swal(
                                    'La modelo ha sido retirada de la agencia!',
                                    'El registro ha sido modificado con éxito.',
                                    'success'
                                )
                            }).catch(function (error) {
                                console.log(error);
                            });
                            
                            
                        } else if (result.dismiss === swal.DismissReason.cancel) {}
                }) 
            },
            agregarAgencia(id){
                swal({
                    title: '¿Deseas agregar la modelo a la Agencia?',
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Aceptar!',
                    cancelButtonText: 'Cancelar',
                    confirmButtonClass: 'btn btn-success',
                    cancelButtonClass: 'btn btn-danger',
                    buttonsStyling: false,
                    reverseButtons: true
                    }).then((result) => {
                        if (result.value) {
                            let me = this;

                            axios.post('/usuario/agregarAgencia',{
                                'id': id
                            }).then(function (response) {
                                me.listarUsuarios();
                                swal(
                                    'La modelo ha sido agregada a la agencia!',
                                    'El registro ha sido modificado con éxito.',
                                    'success'
                                )
                            }).catch(function (error) {
                                console.log(error);
                            });
                            
                            
                        } else if (result.dismiss === swal.DismissReason.cancel) {}
                }) 
            },
            borrarModelo(id){
                swal({
                    title: '¿Deseas quitar definitivamente a la modelo la plataforma?',
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Aceptar!',
                    cancelButtonText: 'Cancelar',
                    confirmButtonClass: 'btn btn-success',
                    cancelButtonClass: 'btn btn-danger',
                    buttonsStyling: false,
                    reverseButtons: true
                    }).then((result) => {
                        if (result.value) {
                            let me = this;

                            axios.post('/usuario/eliminar',{
                                'id': id
                            }).then(function (response) {
                                me.listarUsuarios();
                                swal(
                                    'La modelo ha sido eliminada para siempre de la plataforma!',
                                    'El registro ha sido modificado con éxito.',
                                    'success'
                                )
                            }).catch(function (error) {
                                console.log(error);
                            });
                            
                            
                        } else if (result.dismiss === swal.DismissReason.cancel) {}
                }) 
            },
            abrirModal(modelo, accion, data = []){
                switch(modelo){
                    case "modelo":
                    {
                        switch(accion){
                            case 'registrar':
                            {
                                this.modal = 1;
                                this.tituloModal = 'Registrar Modelo';
                                this.tipoAccion = 1;

                                this.id_modelo = 0;
                                this.ciudad_id = 0;
                                this.alias = '';
                                this.telefono = 0;
                                this.usuario = '';
                                this.clave = '';
                                this.edad = 0;
                                this.nacionalidad = '';
                                this.altura = 0;
                                this.busto = 0;
                                this.cintura = 0;
                                this.caderas = 0;
                                this.descripcion = '';
                                this.foto_perfil = null;
                                this.video = null;
                                this.foto_uno = null;
                                this.foto_dos = null;
                                this.foto_tres = null;
                                this.foto_cuatro = null;
                                this.foto_cinco = null;
                                this.foto_seis = null;
                                this.foto_siete = null;
                                this.foto_ocho = null;
                                this.foto_nueve = null;
                                this.foto_diez = null;
                                this.foto_once = null;
                                this.foto_doce = null;
                                this.foto_perfil_url = '';
                                this.foto_uno_url = '';
                                this.foto_dos_url = '';
                                this.foto_tres_url = '';
                                this.foto_cuatro_url = '';
                                this.foto_cinco_url = '';
                                this.foto_seis_url = '';
                                this.foto_siete_url = '';
                                this.foto_ocho_url = '';
                                this.foto_nueve_url = '';
                                this.foto_diez_url = '';
                                this.foto_once_url = '';
                                this.foto_doce_url = '';
                                break;
                            }
                            case 'actualizar':
                            {   
                                let me = this;
                                this.modal = 1;
                                this.tituloModal = 'Actualizar Modelo';
                                this.tipoAccion = 2;

                                this.id_modelo = data['id'];
                                this.ciudad_id = data['ciudad_id'];
                                this.alias = data['nombre'];
                                this.telefono = data['telefono'];
                                this.usuario = data['usuario'];
                                this.edad = data['edad'];
                                this.nacionalidad = data['nacionalidad'];
                                this.clave = '';
                                this.altura = data['altura'];
                                this.busto = data['busto'];
                                this.cintura = data['cintura'];
                                this.caderas = data['caderas'];
                                this.descripcion = data['descripcion'];

                                if(data['perfil_url'] != null){
                                    me.foto_perfil_url = 'storage/' + data['perfil_url'];
                                    me.imagePerfilUrl();
                                }
                        
                                if(data['foto_uno_url'] != null){
                                    me.foto_uno_url = 'storage/' + data['foto_uno_url'];
                                    me.imageGaleriaUno();
                                }

                                if(data['foto_dos_url'] != null){
                                    me.foto_dos_url = 'storage/' + data['foto_dos_url'];
                                    me.imageGaleriaDos();
                                }

                                if(data['foto_tres_url'] != null){
                                    me.foto_tres_url = 'storage/' + data['foto_tres_url'];
                                    me.imageGaleriaTres();
                                }

                                if(data['foto_cuatro_url'] != null){
                                    me.foto_cuatro_url = 'storage/' + data['foto_cuatro_url'];
                                    me.imageGaleriaCuatro();
                                }

                                if(data['foto_cinco_url'] != null){
                                    me.foto_cinco_url = 'storage/' + data['foto_cinco_url'];
                                    me.imageGaleriaCinco();
                                }

                                if(data['foto_seis_url'] != null){
                                    me.foto_seis_url = 'storage/' + data['foto_seis_url'];
                                    me.imageGaleriaSeis();
                                }

                                if(data['foto_siete_url'] != null){
                                    me.foto_siete_url = 'storage/' + data['foto_siete_url'];
                                    me.imageGaleriaSiete();
                                }

                                if(data['foto_ocho_url'] != null){
                                    me.foto_ocho_url = 'storage/' + data['foto_ocho_url'];
                                    me.imageGaleriaOcho();
                                }

                                if(data['foto_nueve_url'] != null){
                                    me.foto_nueve_url = 'storage/' + data['foto_nueve_url'];
                                    me.imageGaleriaNueve();
                                }

                                if(data['foto_diez_url'] != null){
                                    me.foto_diez_url = 'storage/' + data['foto_diez_url'];
                                    me.imageGaleriaDiez();
                                }

                                if(data['foto_once_url'] != null){
                                    me.foto_once_url = 'storage/' + data['foto_once_url'];
                                    me.imageGaleriaOnce();
                                }

                                if(data['foto_doce_url'] != null){
                                    me.foto_doce_url = 'storage/' + data['foto_doce_url'];
                                    me.imageGaleriaDoce();
                                }
                                
                                break;
                            }
                        }
                    }
                }
            },
            abrirModalVideos(data = []){
                this.modalVideo = 1;
                this.titulo = "";
                this.id_modelo = data['id'];
                this.listarVideos();
            }, 
            cerrarModal(){
                this.modal = 0;
                this.tituloModal = '';
                this.tipoAccion = 0;
                this.errorModelo = 0;
                
                this.ciudad_id = 0;
                this.id_modelo = 0;
                this.alias = '';
                this.telefono = 0;
                this.usuario = '';
                this.clave = '';
                this.edad = 0;
                this.nacionalidad = '';
                this.altura = 0;
                this.busto = 0;
                this.cintura = 0;
                this.caderas = 0;
                this.descripcion = '';
                this.foto_perfil = null;
                this.video = null;
                this.foto_uno = null;
                this.foto_dos = null;
                this.foto_tres = null;
                this.foto_cuatro = null;
                this.foto_cinco = null;
                this.foto_seis = null;
                this.foto_siete = null;
                this.foto_ocho = null;
                this.foto_nueve = null;
                this.foto_diez = null;
                this.foto_once = null;
                this.foto_doce = null;
                this.foto_perfil_url = '';
                this.foto_uno_url = '';
                this.foto_dos_url = '';
                this.foto_tres_url = '';
                this.foto_cuatro_url = '';
                this.foto_cinco_url = '';
                this.foto_seis_url = '';
                this.foto_siete_url = '';
                this.foto_ocho_url = '';
                this.foto_nueve_url = '';
                this.foto_diez_url = '';
                this.foto_once_url = '';
                this.foto_doce_url = '';
            },
            cerrarModalVideo(){
                this.modalVideo = 0;
                this.titulo = "";
                this.id_modelo = 0;
                this.errorVideo = 0;
            },
            onChangePerfil (image) {              
                if (image) {
                    this.foto_perfil = image;
                }
            },
            onChangeF1 (image) {
                if (image) {
                    this.foto_uno = image;
                }
            },
            onChangeF2 (image) {
                if (image) {
                    this.foto_dos = image;
                }
            },
            onChangeF3 (image) {
                if (image) {
                    this.foto_tres = image;
                }
            },
            onChangeF4 (image) {
                if (image) {
                    this.foto_cuatro = image;
                }
            },
            onChangeF5 (image) {
                if (image) {
                    this.foto_cinco = image;
                }
            },
            onChangeF6 (image) {
                if (image) {
                    this.foto_seis = image;
                }
            },
            onChangeF7 (image) {
                if (image) {
                    this.foto_siete = image;
                }
            },
            onChangeF8 (image) {
                if (image) {
                    this.foto_ocho = image;
                }
            },
            onChangeF9 (image) {
                if (image) {
                    this.foto_nueve = image;
                }
            },
            onChangeF10 (image) {
                if (image) {
                    this.foto_diez = image;
                }
            },
            onChangeF11 (image) {
                if (image) {
                    this.foto_once = image;
                }
            },
            onChangeF12 (image) {
                if (image) {
                    this.foto_doce = image;
                }
            },
            imagePerfilUrl() {
                return this.foto_perfil_url;
            },
            imageGaleriaUno() {
                return this.foto_uno_url;
            },
            imageGaleriaDos() {
                return this.foto_dos_url;
            },
            imageGaleriaTres() {
                return this.foto_tres_url;
            },
            imageGaleriaCuatro() {
                return this.foto_cuatro_url;
            },
            imageGaleriaCinco() {
                return this.foto_cinco_url;
            },
            imageGaleriaSeis() {
                return this.foto_seis_url;
            },
            imageGaleriaSiete() {
                return this.foto_siete_url;
            },
            imageGaleriaOcho() {
                return this.foto_ocho_url;
            },
            imageGaleriaNueve() {
                return this.foto_nueve_url;
            },
            imageGaleriaDiez() {
                return this.foto_diez_url;
            },
            imageGaleriaOnce() {
                return this.foto_once_url;
            },
            imageGaleriaDoce() {
                return this.foto_doce_url;
            },
            registrarModelo(){
                if(this.validarUsuario()){ return; }

                let me = this;
                
                const formData = new FormData();
                const perfil = document.querySelector('#foto_perfil');
                const foto_uno = document.querySelector('#foto_uno');
                const foto_dos = document.querySelector('#foto_dos');
                const foto_tres = document.querySelector('#foto_tres');
                const foto_cuatro = document.querySelector('#foto_cuatro');
                const foto_cinco = document.querySelector('#foto_cinco');
                const foto_seis = document.querySelector('#foto_seis');
                const foto_siete = document.querySelector('#foto_siete');
                const foto_ocho = document.querySelector('#foto_ocho');
                const foto_nueve = document.querySelector('#foto_nueve');
                const foto_diez = document.querySelector('#foto_diez');
                const foto_once = document.querySelector('#foto_once');
                const foto_doce = document.querySelector('#foto_doce');

                formData.append('foto_perfil', perfil.files[0]);
                formData.append('foto_uno', foto_uno.files[0]);
                formData.append('foto_dos', foto_dos.files[0]);
                formData.append('foto_tres', foto_tres.files[0]);
                formData.append('foto_cuatro', foto_cuatro.files[0]);
                formData.append('foto_cinco', foto_cinco.files[0]);
                formData.append('foto_seis', foto_seis.files[0]);
                formData.append('foto_siete', foto_siete.files[0]);
                formData.append('foto_ocho', foto_ocho.files[0]);
                formData.append('foto_nueve', foto_nueve.files[0]);
                formData.append('foto_diez', foto_diez.files[0]);
                formData.append('foto_once', foto_once.files[0]);
                formData.append('foto_doce', foto_doce.files[0]);
                
                formData.append('ciudad_id', this.ciudad_id);
                formData.append('alias', this.alias);
                formData.append('telefono', this.telefono);
                formData.append('usuario', this.usuario);
                formData.append('clave', this.clave);
                formData.append('edad', this.edad);
                formData.append('nacionalidad', this.nacionalidad);

                formData.append('altura', this.altura);
                formData.append('busto', this.busto);
                formData.append('cintura', this.cintura);
                formData.append('caderas', this.caderas);
                formData.append('descripcion', this.descripcion);

                axios.post('/registrarUsuario',formData).then(function (response) {
                    me.cerrarModal();
                    me.listarUsuarios();
                    me.estadoModeloTexto(1);
                }).catch(function (error) {
                    console.log(error.response.data);
                });
            },
            actualizarModelo(){
                if (this.validarUsuario()){ return;}

                let me = this;
                
                const formData = new FormData();
                const video = document.querySelector('#video_perfil');
                const perfil = document.querySelector('#foto_perfil');
                const foto_uno = document.querySelector('#foto_uno');
                const foto_dos = document.querySelector('#foto_dos');
                const foto_tres = document.querySelector('#foto_tres');
                const foto_cuatro = document.querySelector('#foto_cuatro');
                const foto_cinco = document.querySelector('#foto_cinco');
                const foto_seis = document.querySelector('#foto_seis');
                const foto_siete = document.querySelector('#foto_siete');
                const foto_ocho = document.querySelector('#foto_ocho');
                const foto_nueve = document.querySelector('#foto_nueve');
                const foto_diez = document.querySelector('#foto_diez');
                const foto_once = document.querySelector('#foto_once');
                const foto_doce = document.querySelector('#foto_doce');

                formData.append('video', video.files[0]);
                formData.append('foto_perfil', perfil.files[0]);
                formData.append('foto_uno', foto_uno.files[0]);
                formData.append('foto_dos', foto_dos.files[0]);
                formData.append('foto_tres', foto_tres.files[0]);
                formData.append('foto_cuatro', foto_cuatro.files[0]);
                formData.append('foto_cinco', foto_cinco.files[0]);
                formData.append('foto_seis', foto_seis.files[0]);
                formData.append('foto_siete', foto_siete.files[0]);
                formData.append('foto_ocho', foto_ocho.files[0]);
                formData.append('foto_nueve', foto_nueve.files[0]);
                formData.append('foto_diez', foto_diez.files[0]);
                formData.append('foto_once', foto_once.files[0]);
                formData.append('foto_doce', foto_doce.files[0]);
                
                formData.append('id_modelo', this.id_modelo);
                formData.append('ciudad_id', this.ciudad_id); 
                formData.append('alias', this.alias);
                formData.append('telefono', this.telefono);
                formData.append('clave', this.clave);
                formData.append('edad', this.edad);
                formData.append('nacionalidad', this.nacionalidad);

                formData.append('altura', this.altura);
                formData.append('busto', this.busto);
                formData.append('cintura', this.cintura);
                formData.append('caderas', this.caderas);
                formData.append('descripcion', this.descripcion);
            

                if (this.validarUsuario()){ return;}

                axios.post('/actualizarUsuario',formData).then(function (response) {
                    me.cerrarModal();
                    me.listarUsuarios();
                    me.estadoModeloTexto(2);
                }).catch(function (error) {
                    console.log(error.response.data);
                });
            },
            validarUsuario(){
                this.errorModelo = 0;
                this.errores = [];
                this.estadoUsuario = 0;

                if(this.foto_perfil != null){
                    let perfil = new Image;
                    perfil.src = this.foto_perfil;
                    if(perfil.height < perfil.width) this.errores.push("La foto debe contener un tamaño vertical y no horizontal");
                }
                
                if(!this.alias) this.errores.push("El campo alias debe contener algo.");
                if (this.telefono < 1) this.errores.push("Debes ingresar un teléfono valido con formato 987654321.");
                if(!this.usuario) this.errores.push("El campo usuario debe contener algo.");
                if(!this.clave && this.tipoAccion == 1) this.errores.push("Debes asignar una clave al usuario.");
                if (this.edad < 1) this.errores.push("La edad debe ser mayor a 0.");
                if (!this.nacionalidad) this.errores.push("El campo nacionalidad debe contener algo.");
                if (this.altura < 1) this.errores.push("El campo altura debe ser mayor a 0 y debe ser expresado en metros.");
                if (this.busto < 1 || this.busto % 1 != 0) this.errores.push("El campo busto debe ser mayor a 0 y debe ser expresado en metros.");
                if (this.cintura < 1 || this.cintura % 1 != 0) this.errores.push("El campo cintura debe ser mayor a 0 y debe ser expresado en centímetros.");
                if (this.caderas < 1 || this.caderas % 1 != 0) this.errores.push("El campo caderas debe ser mayor a 0 y debe ser expresado en centímetros.");
                if (!this.descripcion) this.errores.push("El campo descripción debe contener algo.");
                if (this.ciudad_id < 1) this.errores.push("Debes de asignar una ciudad.");

                if (this.errores.length) this.errorModelo = 1;

                return this.errorModelo;
            },
            validarVideo(){
                this.errorVideo=0;
                this.errores =[];

                if (!this.titulo) this.errores.push("El titulo del video no puede estar vacío.");
                if (this.errores.length) this.errorVideo = 1;

                return this.errorVideo;
            },
            estadoModeloTexto(estado){
                this.estadoModelo = 0;
                this.estados = [];

                if(estado == 1){
                    this.estados.push('Registro agregado exitosamente');
                } else if(estado == 2){
                    this.estados.push('Registro actualizado exitosamente');
                }

                if (this.estados.length) this.estadoModelo = 1;

                return this.estadoModelo;
            },
            eliminarVideo(id){
               swal({
                title: '¿Esta seguro de eliminar esta video?',
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Aceptar!',
                cancelButtonText: 'Cancelar',
                confirmButtonClass: 'btn btn-success',
                cancelButtonClass: 'btn btn-danger',
                buttonsStyling: false,
                reverseButtons: true
                }).then((result) => {
                if (result.value) {
                    let me = this;

                    axios.post('/video/eliminar',{
                        'id': id
                    }).then(function (response) {
                        me.listarVideos();
                        swal(
                        'Video eliminado!',
                        'El registro ha sido eliminado con éxito.',
                        'success'
                        )
                    }).catch(function (error) {
                        console.log(error.response.data);
                    });
                } else if (
                    result.dismiss === swal.DismissReason.cancel
                ) {
                    
                }
                }) 
            },
            statusVideo(estado){
                this.estadoVideo = 0;
                this.estados = [];

                if(estado == 1){
                    this.estados.push('Registro agregado exitosamente');
                } else if(estado == 2){
                    this.estados.push('Registro actualizo exitosamente');
                }

                if (this.estados.length) this.estadoVideo = 1;

                return this.estadoVideo;
            }
        },
        mounted() {
            this.listarUsuarios();
            this.listarCiudades();
        }
    }
</script>

<style>    
    .modal-content{
        width: 100% !important;
        position: absolute !important;
    }

    .modal-body{
        max-height: calc(100vh - 200px);
        overflow-y: auto;
    }

    .modal-lg{
        max-width: 90%;
    }

    .form-group{
        margin-bottom: 5px; 
    }
    .mostrar{
        display: list-item !important;
        opacity: 1 !important;
        position: fixed !important;
        background-color: #000000b3 !important;
    }

    .table td{
        padding: 0.30rem;
    }

    .table th{
        padding: 0.50rem;
    }

    .custom-file-input:lang(en) ~ .custom-file-label::after {
        content: 'Buscar';
    }
</style>
